flows (4).json
[
    {
        "id": "afffb92e3a0b1e68",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "533659619d4954b7",
        "type": "ui_tab",
        "name": "Netzwerkmonitor",
        "icon": "fa-exchange",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "483df96dc212c8cf",
        "type": "ui_group",
        "name": "Netzwerkmonitor",
        "tab": "533659619d4954b7",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed11dac3712eba25",
        "type": "ui_group",
        "name": "Status",
        "tab": "533659619d4954b7",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "506be1239e6dff66",
        "type": "ui_group",
        "name": "Ausfallszähler",
        "tab": "533659619d4954b7",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d228bc1c295a0fb",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ac753cd073ac5241",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-ping": "0.3.3",
            "node-red-contrib-moment": "5.0.0"
        }
    },
    {
        "id": "4c70c6ca9812d656",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "99256784a4af2d60",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "102870adf9e05fbb",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "7fb7445e5dcba914",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "7e6e79541e3c8bdf",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "4d7668e38d07b12d",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "49ee391bc9a07ec5",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "7d405c50c1f42095",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "0f8962d0473e7ead",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "86a1f392102d7b21",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 16,
        "width": 3,
        "height": 1
    },
    {
        "id": "1d554a9ea09db5e4",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 17,
        "width": 3,
        "height": 1
    },
    {
        "id": "1a3ff2849d510509",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 18,
        "width": 3,
        "height": 1
    },
    {
        "id": "31b2119ade198417",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 19,
        "width": 3,
        "height": 1
    },
    {
        "id": "31f4454347942424",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 20,
        "width": 3,
        "height": 1
    },
    {
        "id": "b05a00fa65bfd462",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 21,
        "width": 3,
        "height": 1
    },
    {
        "id": "395a1bd22c132d69",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 22,
        "width": 3,
        "height": 1
    },
    {
        "id": "06a31979f0e6c61d",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 23,
        "width": 3,
        "height": 1
    },
    {
        "id": "88412e33fa3e3473",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 24,
        "width": 3,
        "height": 1
    },
    {
        "id": "319354a9c63a3aab",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 27,
        "width": 12,
        "height": 1
    },
    {
        "id": "a69a34ac787cb0cc",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 28,
        "width": 12,
        "height": 1
    },
    {
        "id": "5ff430e547ff75cb",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 29,
        "width": 12,
        "height": 1
    },
    {
        "id": "536467100fa376c3",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 30,
        "width": 12,
        "height": 1
    },
    {
        "id": "6fcd3943ee160d34",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 31,
        "width": 12,
        "height": 1
    },
    {
        "id": "c30570307c06e382",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 32,
        "width": 12,
        "height": 1
    },
    {
        "id": "89970f53c3bcd988",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 33,
        "width": 12,
        "height": 1
    },
    {
        "id": "c9b47b108e3d6b5b",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 34,
        "width": 12,
        "height": 1
    },
    {
        "id": "1bd349ae45be31de",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 35,
        "width": 12,
        "height": 1
    },
    {
        "id": "0beecd5413bcc399",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "5529a715ce6ddc73",
        "type": "ping",
        "z": "afffb92e3a0b1e68",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "",
        "host": "8.8.8.8",
        "timer": "1",
        "inputs": 1,
        "x": 570,
        "y": 80,
        "wires": [
            [
                "e69a1b700681d8f2"
            ]
        ]
    },
    {
        "id": "2d509a36f4c99f90",
        "type": "ping",
        "z": "afffb92e3a0b1e68",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "Firewall",
        "host": "192.168.128.1",
        "timer": "1",
        "inputs": 1,
        "x": 570,
        "y": 140,
        "wires": [
            [
                "eb3dabaeb4a98863"
            ]
        ]
    },
    {
        "id": "cc9b3ebf0d3a94ca",
        "type": "ping",
        "z": "afffb92e3a0b1e68",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "Alarmserver",
        "host": "192.168.128.15",
        "timer": "1",
        "inputs": 1,
        "x": 580,
        "y": 200,
        "wires": [
            [
                "c78ce2f313917ca2"
            ]
        ]
    },
    {
        "id": "e69a1b700681d8f2",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "googledns",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 80,
        "wires": [
            [
                "8f25de0627840d10",
                "67fd4e1dad482a12",
                "1a45737c717d7d62"
            ]
        ]
    },
    {
        "id": "eb3dabaeb4a98863",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "firewall",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 140,
        "wires": [
            [
                "cd2661dc7601a41b",
                "c15a45d23dc4c291",
                "844e3b1fde8fb5c5"
            ]
        ]
    },
    {
        "id": "c78ce2f313917ca2",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "alarmserver",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 200,
        "wires": [
            [
                "96b7e79bde16d3ca",
                "23a5172862c929f9",
                "7d458e3470ddfd4d"
            ]
        ]
    },
    {
        "id": "0f54998cc4488d7d",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "b2fcdc22d01a3d68"
            ]
        ]
    },
    {
        "id": "8f25de0627840d10",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 2",
        "func": "var pl;\nvar tp;\n\nif (msg.payload != false) {\n    pl = true;\n} else {\n   pl = false;\n}\n\nif (msg.topic != \" \") {\n   tp = msg.topic;\n} else {\n    tp = \"Unknown\";\n}\nmsg = {payload: pl, topic: tp};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1280,
        "wires": [
            [
                "fa8eb0faaf46a0e4",
                "f515909db435a005",
                "46e4a29c781715dd"
            ]
        ]
    },
    {
        "id": "f515909db435a005",
        "type": "ui_switch",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "ed11dac3712eba25",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-2x fa-circle",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-2x fa-circle",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1070,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "fa8eb0faaf46a0e4",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "BOOL to Num",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1380,
        "wires": [
            [
                "406596152961d4e1",
                "6ea071dcf51ddd18"
            ]
        ]
    },
    {
        "id": "f219ec399b6b5804",
        "type": "ui_numeric",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "506be1239e6dff66",
        "order": 1,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "num",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 1860,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "e90c9a1fd5c3e016",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 5",
        "func": "var msg1;\nvar reset = msg.payload.reset;\nvar trigger = msg.payload.trigger;\nvar topic = msg.header;\nvar count = msg.payload.num;\nvar device = msg.payload[topic];\nif (reset == true) {\n    msg = {payload: 0};\n    msg1 = {payload: false, topic: 'trigger'};\n} else {\n    if (device == false && trigger == false) {\n        msg = {payload: count + 1};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else if (device == false && trigger == true) {\n        msg = {payload: count};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else {\n        msg = {payload: count}; \n        msg1 = {payload: false, topic: 'trigger'};\n    }\n}\nmsg = {payload: msg.payload, topic: topic};\n\nreturn [msg,msg1];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1320,
        "wires": [
            [
                "80e7eefd4627839b",
                "f219ec399b6b5804",
                "82c779c62741605f"
            ],
            [
                "d1b63bd881fd3f60"
            ]
        ]
    },
    {
        "id": "d1b63bd881fd3f60",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1450,
        "y": 1320,
        "wires": [
            [
                "e90c9a1fd5c3e016"
            ]
        ]
    },
    {
        "id": "bb3eb0043b9d7d53",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 25,
        "width": 9,
        "height": 9,
        "label": "UP/Down 24h",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1820,
        "y": 540,
        "wires": [
            [
                "56cc4d77648dd94e"
            ]
        ]
    },
    {
        "id": "78a1f4df1bd08052",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 26,
        "width": 9,
        "height": 9,
        "label": "UP/Down 7d",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1820,
        "y": 620,
        "wires": [
            [
                "12078a8229d8fd2e"
            ]
        ]
    },
    {
        "id": "406596152961d4e1",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1850,
        "y": 1380,
        "wires": [
            [
                "3d1cf028c7d74a6b"
            ]
        ]
    },
    {
        "id": "3bcb26cb0fd8a12f",
        "type": "ping",
        "z": "afffb92e3a0b1e68",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "Telefonanlage",
        "host": "192.168.128.235",
        "timer": "1",
        "inputs": 1,
        "x": 590,
        "y": 260,
        "wires": [
            [
                "f64a92acba5ecce9"
            ]
        ]
    },
    {
        "id": "f64a92acba5ecce9",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TKA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 260,
        "wires": [
            [
                "9f7913a94a92216f",
                "bc5a6f0629e12aa9",
                "962b93d1c7bbbb83"
            ]
        ]
    },
    {
        "id": "4dab21328edaf3fd",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "pingfails",
        "filename": "/var/www/html/monitoring/pings/pingfails.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 2200,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "e6031a3e937cc9a9",
        "type": "file in",
        "z": "afffb92e3a0b1e68",
        "name": "pingfails",
        "filename": "/var/www/html/monitoring/pings/pingfails.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 140,
        "y": 820,
        "wires": [
            [
                "fc063bf918dc33dc",
                "9c70cebf2fea4131"
            ]
        ]
    },
    {
        "id": "651a48b576ee45b0",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "e6031a3e937cc9a9"
            ]
        ]
    },
    {
        "id": "6f946fb07d396c73",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "pingfail",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1820,
        "y": 780,
        "wires": [
            [
                "a23486cb9da62924",
                "0572a29a47092ff5"
            ]
        ]
    },
    {
        "id": "fc063bf918dc33dc",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "pingfails str to object",
        "func": "var str = msg.payload;\nvar msg = {payload: JSON.parse(str)};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 880,
        "wires": [
            [
                "4ad8171004f160ec"
            ]
        ]
    },
    {
        "id": "7187bce1574ae151",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "pingfails splitter",
        "func": "var tp1 = msg.payload.ping1;\nvar tp2 = msg.payload.ping2;\nvar tp3 = msg.payload.ping3;\nvar tp4 = msg.payload.ping4;\nvar tp5 = msg.payload.ping5;\nvar tp6 = msg.payload.ping6;\nvar msg1 = {payload: msg.payload.pingfails[tp1]};\nvar msg2 = { payload: msg.payload.pingfails[tp2] };\nvar msg3 = { payload: msg.payload.pingfails[tp3] };\nvar msg4 = { payload: msg.payload.pingfails[tp4] };\nvar msg5 = { payload: msg.payload.pingfails[tp5] };\nvar msg6 = { payload: msg.payload.pingfails[tp6] };\nreturn [msg1,msg2,msg3,msg4,msg5,msg6];",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1140,
        "wires": [
            [
                "e5201532d41496f0",
                "80e7eefd4627839b"
            ],
            [
                "e5201532d41496f0",
                "f29552051da08178"
            ],
            [
                "e5201532d41496f0",
                "748612979981f826"
            ],
            [
                "e5201532d41496f0",
                "4d3fc6dbaf976c8a"
            ],
            [
                "e5201532d41496f0",
                "9fc0fe667d280bbc"
            ],
            [
                "e5201532d41496f0",
                "f369a03b9354c005"
            ]
        ]
    },
    {
        "id": "a23486cb9da62924",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 680,
        "wires": []
    },
    {
        "id": "0572a29a47092ff5",
        "type": "rbe",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 2010,
        "y": 780,
        "wires": [
            [
                "4dab21328edaf3fd",
                "2d88986deb5eb11c"
            ]
        ]
    },
    {
        "id": "2d88986deb5eb11c",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2240,
        "y": 700,
        "wires": []
    },
    {
        "id": "80e7eefd4627839b",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "num",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1320,
        "wires": [
            [
                "d1b63bd881fd3f60"
            ]
        ]
    },
    {
        "id": "2bab9fceb0a75a5c",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1040,
        "wires": []
    },
    {
        "id": "50f5d0ee9579c8c0",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 910,
        "y": 1180,
        "wires": [
            [
                "8fbb885cbdbfe8f2",
                "83f20980dbb07c46"
            ]
        ]
    },
    {
        "id": "8fbb885cbdbfe8f2",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 1180,
        "wires": [
            [
                "b7f00261a22fdaf3"
            ]
        ]
    },
    {
        "id": "1b284f91780a5c90",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 1180,
        "wires": [
            [
                "d1b63bd881fd3f60"
            ]
        ]
    },
    {
        "id": "d52657876cc66d49",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1330,
        "y": 1140,
        "wires": [
            [
                "b7f00261a22fdaf3"
            ]
        ]
    },
    {
        "id": "b7f00261a22fdaf3",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1300,
        "y": 1180,
        "wires": [
            [
                "1b284f91780a5c90"
            ]
        ]
    },
    {
        "id": "c07e4092efd36825",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 1290,
        "y": 1260,
        "wires": [
            [
                "d1b63bd881fd3f60"
            ]
        ]
    },
    {
        "id": "f80e390f6e61015f",
        "type": "ui_text",
        "z": "afffb92e3a0b1e68",
        "group": "506be1239e6dff66",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Zeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2050,
        "y": 1240,
        "wires": []
    },
    {
        "id": "83f20980dbb07c46",
        "type": "moment",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MM YYYY",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 1640,
        "y": 1240,
        "wires": [
            [
                "1cd1e3af358f8a97"
            ]
        ]
    },
    {
        "id": "1cd1e3af358f8a97",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 15",
        "func": "msg = {payload: \"seit \" + msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 1240,
        "wires": [
            [
                "f80e390f6e61015f"
            ]
        ]
    },
    {
        "id": "5d1ec0ca58943844",
        "type": "ping",
        "z": "afffb92e3a0b1e68",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "Sunrise Internet",
        "host": "192.168.128.235",
        "timer": "1",
        "inputs": 1,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "07849066a6e130e9"
            ]
        ]
    },
    {
        "id": "07849066a6e130e9",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Internet",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 320,
        "wires": [
            [
                "496f6e0bf7fd1eab",
                "5355180f2d94c1b5",
                "2616dc879322bed4"
            ]
        ]
    },
    {
        "id": "6d35c43f8d232cea",
        "type": "ping",
        "z": "afffb92e3a0b1e68",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "Sunrise VoIP Trunk",
        "host": "212.47.182.180",
        "timer": "1",
        "inputs": 1,
        "x": 600,
        "y": 380,
        "wires": [
            [
                "0cbed80eb704433a"
            ]
        ]
    },
    {
        "id": "0cbed80eb704433a",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "voip",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 380,
        "wires": [
            [
                "bf5089ed156f2187",
                "2bac28102593fc20",
                "30082ba38e3196e5",
                "64508022ef79b1f9"
            ]
        ]
    },
    {
        "id": "0270b8fd1d95ea27",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 1,
        "width": 9,
        "height": 9,
        "label": "PING Telefonanlage",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0000ff",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1650,
        "y": 260,
        "wires": [
            [
                "e604f7e2e42f9b46"
            ]
        ]
    },
    {
        "id": "f77f039a78d7a13f",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 3,
        "width": 9,
        "height": 9,
        "label": "PING Alarmserver",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0000ff",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1640,
        "y": 200,
        "wires": [
            [
                "3e510f5df3415583"
            ]
        ]
    },
    {
        "id": "2d4ece017f7a61b1",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 2,
        "width": 9,
        "height": 9,
        "label": "PING Firewall",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0000ff",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1630,
        "y": 140,
        "wires": [
            [
                "c4b18fdaf06005d9"
            ]
        ]
    },
    {
        "id": "7692b963cd56c9e3",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 15,
        "width": 9,
        "height": 9,
        "label": "PING Sunrise VoIP",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1640,
        "y": 380,
        "wires": [
            [
                "d1af2c5973cb8a40"
            ]
        ]
    },
    {
        "id": "a4fe11a460c3be10",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 14,
        "width": 9,
        "height": 9,
        "label": "PING Sunsrise Internet",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1660,
        "y": 320,
        "wires": [
            [
                "a66463ef4b3e98cd"
            ]
        ]
    },
    {
        "id": "6ea071dcf51ddd18",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1860,
        "y": 1420,
        "wires": [
            [
                "e3dd5e77c5cfbb41"
            ]
        ]
    },
    {
        "id": "4d1d5dc28b383405",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 750,
        "y": 1380,
        "wires": [
            [
                "80e7eefd4627839b"
            ]
        ]
    },
    {
        "id": "9c70cebf2fea4131",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 700,
        "wires": []
    },
    {
        "id": "e5201532d41496f0",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1100,
        "wires": []
    },
    {
        "id": "08644906c74df774",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "7",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 210,
        "y": 1040,
        "wires": [
            [
                "7187bce1574ae151",
                "2bab9fceb0a75a5c"
            ]
        ]
    },
    {
        "id": "4ad8171004f160ec",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pingfails",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 940,
        "wires": [
            [
                "08644906c74df774",
                "641b7e2b19e7bafb"
            ]
        ]
    },
    {
        "id": "67fd4e1dad482a12",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ping1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 100,
        "wires": [
            [
                "63cc5bf2ac4352eb"
            ]
        ]
    },
    {
        "id": "cd2661dc7601a41b",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ping2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 160,
        "wires": [
            [
                "63cc5bf2ac4352eb"
            ]
        ]
    },
    {
        "id": "96b7e79bde16d3ca",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ping3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 220,
        "wires": [
            [
                "63cc5bf2ac4352eb"
            ]
        ]
    },
    {
        "id": "9f7913a94a92216f",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ping4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 280,
        "wires": [
            [
                "63cc5bf2ac4352eb"
            ]
        ]
    },
    {
        "id": "496f6e0bf7fd1eab",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ping5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 340,
        "wires": [
            [
                "63cc5bf2ac4352eb"
            ]
        ]
    },
    {
        "id": "bf5089ed156f2187",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ping6",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 400,
        "wires": [
            [
                "63cc5bf2ac4352eb"
            ]
        ]
    },
    {
        "id": "54877c59829933e5",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 13,
        "width": 9,
        "height": 9,
        "label": "PING Google",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1620,
        "y": 80,
        "wires": [
            [
                "63618cd18ae66153"
            ]
        ]
    },
    {
        "id": "86d8c4129a33bfea",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "topic for pingfails join",
        "links": [
            "63cc5bf2ac4352eb"
        ],
        "x": 95,
        "y": 1040,
        "wires": [
            [
                "08644906c74df774"
            ]
        ]
    },
    {
        "id": "63cc5bf2ac4352eb",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "86d8c4129a33bfea"
        ],
        "x": 1515,
        "y": 460,
        "wires": []
    },
    {
        "id": "68043402d0f077fd",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "Up/Down 24h",
        "links": [
            "3d1cf028c7d74a6b",
            "3c204da3571bbab6",
            "8e121f73efd9258f",
            "b9643b87fa2a138e",
            "4831cbfc5d8eba17",
            "4ec72bf961afee18",
            "aa25bcfd19126e21",
            "e312af959cba4d0b",
            "a5c0486edce5ea14",
            "017ace409fce5fbf",
            "cd30ac9270c36c2f",
            "534315a07126d64c",
            "8fa3e7ec0bb21c1d",
            "3b56fe6c827658b2"
        ],
        "x": 1695,
        "y": 560,
        "wires": [
            [
                "bb3eb0043b9d7d53"
            ]
        ]
    },
    {
        "id": "9fe6fc4652976781",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "Up/Down 7d",
        "links": [
            "e3dd5e77c5cfbb41",
            "631b5b6bfeaf01e6",
            "3079be0e654348e1",
            "e83ddb20c806230d",
            "f653206580c3f8ef",
            "9b887658be98d4d5",
            "2e08283ad3e34bb8",
            "30f3ec1c2fb22250",
            "f594c260ebd5e92d",
            "563bb3c0e6ae9ad7",
            "5a6d2c15758ba55c",
            "2339c9d1bc9be7e9",
            "f34ca1844ed5e2d0",
            "fde2564d2a4c7508"
        ],
        "x": 1695,
        "y": 640,
        "wires": [
            [
                "78a1f4df1bd08052"
            ]
        ]
    },
    {
        "id": "3d1cf028c7d74a6b",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 24h",
        "mode": "link",
        "links": [
            "68043402d0f077fd"
        ],
        "x": 2005,
        "y": 1380,
        "wires": []
    },
    {
        "id": "e3dd5e77c5cfbb41",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 7d",
        "mode": "link",
        "links": [
            "9fe6fc4652976781"
        ],
        "x": 2005,
        "y": 1420,
        "wires": []
    },
    {
        "id": "e672a601bd5aa4fc",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "Ping failed write",
        "links": [
            "82c779c62741605f",
            "08a2c7d3951c62f1",
            "b010cb4e0dd7b549",
            "e6277a62720ace26",
            "12a458c1b2be3e37",
            "d5b980e09ff4fa75",
            "891ecad5e5fad0d5",
            "e3dbcf00e90acc2c",
            "a4132cf8b753cebe",
            "bcafbf8ed9775205",
            "22352a7606ad1ce3",
            "8863b9f4db760feb",
            "33f10a6b6c8fde98",
            "acac3a4dd1b17aa8"
        ],
        "x": 1715,
        "y": 780,
        "wires": [
            [
                "6f946fb07d396c73"
            ]
        ]
    },
    {
        "id": "82c779c62741605f",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out ping failed write",
        "mode": "link",
        "links": [
            "e672a601bd5aa4fc"
        ],
        "x": 1815,
        "y": 1320,
        "wires": []
    },
    {
        "id": "5590b164cb8f18dc",
        "type": "comment",
        "z": "afffb92e3a0b1e68",
        "name": "Ziel IP Adresse hier eintragen",
        "info": "",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "8186818397db3d87",
        "type": "comment",
        "z": "afffb92e3a0b1e68",
        "name": "Hostname hier eintragen",
        "info": "",
        "x": 830,
        "y": 40,
        "wires": []
    },
    {
        "id": "cfe139e81ea94f80",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "79c52b1cf523dccc"
            ]
        ]
    },
    {
        "id": "2a784e2e9f845a2d",
        "type": "comment",
        "z": "afffb92e3a0b1e68",
        "name": "Alle Ausfallszähler resetten",
        "info": "",
        "x": 110,
        "y": 20,
        "wires": []
    },
    {
        "id": "79c52b1cf523dccc",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Ausfallszähler reset Zeit",
        "mode": "link",
        "links": [
            "1bf2b8107cb6448f",
            "4589d4d21716ad60",
            "b607699fbb6dcc5d",
            "b6da3cfee807d148",
            "bb7bf067722c55c9",
            "cc03b15d8e3c7a37",
            "ae19fef057adbf8f",
            "5cfe8aa150c0e7f9",
            "aa66d74fb4cd8396",
            "6ece5104d8af9a94",
            "bf6eddb31f21752c",
            "ead05068b8b1afc4",
            "0d29e9b172da5345",
            "26e2cba40c39d031"
        ],
        "x": 195,
        "y": 60,
        "wires": []
    },
    {
        "id": "1bf2b8107cb6448f",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset",
        "links": [
            "79c52b1cf523dccc"
        ],
        "x": 945,
        "y": 1140,
        "wires": [
            [
                "8fbb885cbdbfe8f2",
                "83f20980dbb07c46"
            ]
        ]
    },
    {
        "id": "712e5ab3a27214d2",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "3659caf389c34270"
            ]
        ]
    },
    {
        "id": "3659caf389c34270",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Ausfallszähler reset to 0",
        "mode": "link",
        "links": [
            "45bc92e50c6ba5df",
            "a12552be95dd12df",
            "cc247dc3f84fd890",
            "25438f67280d5551",
            "779870c009d3d344",
            "d2646aaea3b4580c",
            "3c56c4ac514d12b1",
            "c3888d66bc6c36ba",
            "e9d5f72c79ecbc54",
            "905df0a21b39aea7",
            "5ac7d95096b4a7b4",
            "dc4d4cc73458c2ac",
            "e3877f7475402152",
            "60370bd2faec8375"
        ],
        "x": 195,
        "y": 100,
        "wires": []
    },
    {
        "id": "45bc92e50c6ba5df",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset to 0",
        "links": [
            "3659caf389c34270"
        ],
        "x": 715,
        "y": 1420,
        "wires": [
            [
                "80e7eefd4627839b"
            ]
        ]
    },
    {
        "id": "d9a78531cd6e9ac5",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "239e5f15e789b994"
            ]
        ]
    },
    {
        "id": "20677a083bfa408b",
        "type": "comment",
        "z": "afffb92e3a0b1e68",
        "name": "Alle Graphe resetten",
        "info": "",
        "x": 110,
        "y": 160,
        "wires": []
    },
    {
        "id": "9e7896895bb448d7",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Chart reset",
        "mode": "link",
        "links": [
            "2e276df76ab88b31",
            "e851bf075e92468d",
            "4ae5465506a6b7b7",
            "6501d843733f3db4",
            "4ef4c0ddbbb56474",
            "3c668e7293b75872",
            "c1ac1986368bf9af",
            "a56cd0644b3adb7d"
        ],
        "x": 395,
        "y": 200,
        "wires": []
    },
    {
        "id": "2e276df76ab88b31",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 1525,
        "y": 60,
        "wires": [
            [
                "54877c59829933e5"
            ]
        ]
    },
    {
        "id": "e851bf075e92468d",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 1525,
        "y": 120,
        "wires": [
            [
                "2d4ece017f7a61b1"
            ]
        ]
    },
    {
        "id": "4ae5465506a6b7b7",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 1525,
        "y": 180,
        "wires": [
            [
                "f77f039a78d7a13f"
            ]
        ]
    },
    {
        "id": "6501d843733f3db4",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 1525,
        "y": 240,
        "wires": [
            [
                "0270b8fd1d95ea27"
            ]
        ]
    },
    {
        "id": "4ef4c0ddbbb56474",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 1525,
        "y": 300,
        "wires": [
            [
                "a4fe11a460c3be10"
            ]
        ]
    },
    {
        "id": "3c668e7293b75872",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 1525,
        "y": 360,
        "wires": [
            [
                "7692b963cd56c9e3"
            ]
        ]
    },
    {
        "id": "239e5f15e789b994",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "9e7896895bb448d7"
            ]
        ]
    },
    {
        "id": "5cf3fba3a2414406",
        "type": "comment",
        "z": "afffb92e3a0b1e68",
        "name": "Alles einmal schicken",
        "info": "",
        "x": 100,
        "y": 260,
        "wires": []
    },
    {
        "id": "b2fcdc22d01a3d68",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Alles einmal schicken",
        "mode": "link",
        "links": [
            "04e98ccb2c709501",
            "b006feee84a254ab",
            "abb97245f5ba5b5e",
            "a37cf320c17bbdad",
            "fe85527a0e0a3528",
            "f10e8a8389f09624"
        ],
        "x": 195,
        "y": 300,
        "wires": []
    },
    {
        "id": "04e98ccb2c709501",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "alles einmal schicken",
        "links": [
            "b2fcdc22d01a3d68"
        ],
        "x": 485,
        "y": 80,
        "wires": [
            [
                "5529a715ce6ddc73"
            ]
        ]
    },
    {
        "id": "b006feee84a254ab",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "alles einmal schicken",
        "links": [
            "b2fcdc22d01a3d68"
        ],
        "x": 485,
        "y": 140,
        "wires": [
            [
                "2d509a36f4c99f90"
            ]
        ]
    },
    {
        "id": "abb97245f5ba5b5e",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "alles einmal schicken",
        "links": [
            "b2fcdc22d01a3d68"
        ],
        "x": 485,
        "y": 200,
        "wires": [
            [
                "cc9b3ebf0d3a94ca"
            ]
        ]
    },
    {
        "id": "a37cf320c17bbdad",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "alles einmal schicken",
        "links": [
            "b2fcdc22d01a3d68"
        ],
        "x": 485,
        "y": 260,
        "wires": [
            [
                "3bcb26cb0fd8a12f"
            ]
        ]
    },
    {
        "id": "fe85527a0e0a3528",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "alles einmal schicken",
        "links": [
            "b2fcdc22d01a3d68"
        ],
        "x": 485,
        "y": 320,
        "wires": [
            [
                "5d1ec0ca58943844"
            ]
        ]
    },
    {
        "id": "f10e8a8389f09624",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "alles einmal schicken",
        "links": [
            "b2fcdc22d01a3d68"
        ],
        "x": 485,
        "y": 380,
        "wires": [
            [
                "6d35c43f8d232cea"
            ]
        ]
    },
    {
        "id": "3f3b1009fdff542f",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "b2fcdc22d01a3d68"
            ]
        ]
    },
    {
        "id": "c1ac1986368bf9af",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 1695,
        "y": 520,
        "wires": [
            [
                "bb3eb0043b9d7d53"
            ]
        ]
    },
    {
        "id": "a56cd0644b3adb7d",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 1695,
        "y": 600,
        "wires": [
            [
                "78a1f4df1bd08052"
            ]
        ]
    },
    {
        "id": "641b7e2b19e7bafb",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 960,
        "wires": []
    },
    {
        "id": "1a45737c717d7d62",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 80,
        "wires": [
            [
                "54877c59829933e5"
            ]
        ]
    },
    {
        "id": "c15a45d23dc4c291",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 140,
        "wires": [
            [
                "2d4ece017f7a61b1"
            ]
        ]
    },
    {
        "id": "23a5172862c929f9",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 200,
        "wires": [
            [
                "f77f039a78d7a13f"
            ]
        ]
    },
    {
        "id": "bc5a6f0629e12aa9",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 260,
        "wires": [
            [
                "0270b8fd1d95ea27"
            ]
        ]
    },
    {
        "id": "5355180f2d94c1b5",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 320,
        "wires": [
            [
                "a4fe11a460c3be10"
            ]
        ]
    },
    {
        "id": "2bac28102593fc20",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 380,
        "wires": [
            [
                "7692b963cd56c9e3",
                "bc018db870585215"
            ]
        ]
    },
    {
        "id": "inject_daily",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "d": true,
        "name": "Jeden Morgen",
        "props": [],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 2160,
        "y": 980,
        "wires": [
            [
                "function_date"
            ]
        ]
    },
    {
        "id": "function_date",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "Set Filename",
        "func": "const today = new Date().toISOString().slice(0,10);\nmsg.payload = `${today}`;\nreturn msg;\n\n//sudo wkhtmltoimage http://localhost:1880/ui /var/www/html/monitoring/pings/2025-09-18.png\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2340,
        "y": 980,
        "wires": [
            [
                "42419a0362480e62",
                "f66b1b60040f4067"
            ]
        ]
    },
    {
        "id": "42419a0362480e62",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2580,
        "y": 980,
        "wires": []
    },
    {
        "id": "f66b1b60040f4067",
        "type": "template",
        "z": "afffb92e3a0b1e68",
        "name": "Bash",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "sudo wkhtmltoimage   --enable-javascript   --no-stop-slow-scripts   --javascript-delay 10000   --debug-javascript   http://volta.visu /var/www/html/monitoring/pings/{{payload}}.png\n",
        "output": "str",
        "x": 2370,
        "y": 1080,
        "wires": [
            [
                "d9290c0c62e0f7c0",
                "2fb9aa0cc2577ee3"
            ]
        ]
    },
    {
        "id": "d9290c0c62e0f7c0",
        "type": "exec",
        "z": "afffb92e3a0b1e68",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 2630,
        "y": 1080,
        "wires": [
            [
                "8995175af9a575c5"
            ],
            [
                "8995175af9a575c5"
            ],
            [
                "8995175af9a575c5"
            ]
        ]
    },
    {
        "id": "2fb9aa0cc2577ee3",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2470,
        "y": 1120,
        "wires": []
    },
    {
        "id": "8995175af9a575c5",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2800,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e606a283f7edd37f",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "save",
        "props": [
            {
                "p": "save",
                "v": "true",
                "vt": "str"
            },
            {
                "p": "send",
                "v": "hallo",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1670,
        "y": 460,
        "wires": [
            [
                "2278698f44ed2182",
                "25f450d598f5e7c9",
                "91d9733ba9aeabbf",
                "714e6e920a274928",
                "d3b00b70203015d3",
                "c53eeb9102b713d2",
                "c6b5ff4aaf636b4f",
                "5a4bdc24d0303b75"
            ]
        ]
    },
    {
        "id": "9965215aab2cad64",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2400,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d1af2c5973cb8a40",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 1830,
        "y": 380,
        "wires": [
            [
                "c3b3523bc36fc0fb"
            ]
        ]
    },
    {
        "id": "7a2a96c24e18c2eb",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \"){\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 380,
        "wires": [
            [
                "9965215aab2cad64"
            ]
        ]
    },
    {
        "id": "30082ba38e3196e5",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 500,
        "wires": []
    },
    {
        "id": "bc018db870585215",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 500,
        "wires": []
    },
    {
        "id": "2278698f44ed2182",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2130,
        "y": 380,
        "wires": [
            [
                "7a2a96c24e18c2eb"
            ]
        ]
    },
    {
        "id": "c3b3523bc36fc0fb",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1980,
        "y": 380,
        "wires": [
            [
                "2278698f44ed2182"
            ]
        ]
    },
    {
        "id": "693796a14ee76808",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2400,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a66463ef4b3e98cd",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 1830,
        "y": 320,
        "wires": [
            [
                "f5655cca312e6f41"
            ]
        ]
    },
    {
        "id": "49edee4a30d05316",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \") {\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 320,
        "wires": [
            [
                "693796a14ee76808"
            ]
        ]
    },
    {
        "id": "25f450d598f5e7c9",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2130,
        "y": 320,
        "wires": [
            [
                "49edee4a30d05316"
            ]
        ]
    },
    {
        "id": "f5655cca312e6f41",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1980,
        "y": 320,
        "wires": [
            [
                "25f450d598f5e7c9"
            ]
        ]
    },
    {
        "id": "d307c12483621990",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2400,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e604f7e2e42f9b46",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 1830,
        "y": 260,
        "wires": [
            [
                "de48f0a761e9ab18"
            ]
        ]
    },
    {
        "id": "c2ab5f888bf64883",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \") {\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 260,
        "wires": [
            [
                "d307c12483621990"
            ]
        ]
    },
    {
        "id": "91d9733ba9aeabbf",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2130,
        "y": 260,
        "wires": [
            [
                "c2ab5f888bf64883"
            ]
        ]
    },
    {
        "id": "de48f0a761e9ab18",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1980,
        "y": 260,
        "wires": [
            [
                "91d9733ba9aeabbf"
            ]
        ]
    },
    {
        "id": "7063a329a7a8f83d",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2400,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3e510f5df3415583",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 1830,
        "y": 200,
        "wires": [
            [
                "5911aea4ca4a3308"
            ]
        ]
    },
    {
        "id": "a2d8cf4529cbb2ee",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \"){\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 200,
        "wires": [
            [
                "7063a329a7a8f83d"
            ]
        ]
    },
    {
        "id": "714e6e920a274928",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2130,
        "y": 200,
        "wires": [
            [
                "a2d8cf4529cbb2ee"
            ]
        ]
    },
    {
        "id": "5911aea4ca4a3308",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1980,
        "y": 200,
        "wires": [
            [
                "714e6e920a274928"
            ]
        ]
    },
    {
        "id": "43b3c54001408836",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2400,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "c4b18fdaf06005d9",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 1830,
        "y": 140,
        "wires": [
            [
                "25d656ce13c79156"
            ]
        ]
    },
    {
        "id": "5ba95996a0e29177",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \"){\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 140,
        "wires": [
            [
                "43b3c54001408836"
            ]
        ]
    },
    {
        "id": "d3b00b70203015d3",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2130,
        "y": 140,
        "wires": [
            [
                "5ba95996a0e29177"
            ]
        ]
    },
    {
        "id": "25d656ce13c79156",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1980,
        "y": 140,
        "wires": [
            [
                "d3b00b70203015d3"
            ]
        ]
    },
    {
        "id": "20ee9c02f27505e8",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2400,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "63618cd18ae66153",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 1830,
        "y": 80,
        "wires": [
            [
                "0d26c8e43a7b6987"
            ]
        ]
    },
    {
        "id": "4772f0814a844969",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \"){\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 80,
        "wires": [
            [
                "20ee9c02f27505e8"
            ]
        ]
    },
    {
        "id": "c53eeb9102b713d2",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2130,
        "y": 80,
        "wires": [
            [
                "4772f0814a844969"
            ]
        ]
    },
    {
        "id": "0d26c8e43a7b6987",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1980,
        "y": 80,
        "wires": [
            [
                "c53eeb9102b713d2"
            ]
        ]
    },
    {
        "id": "46e4a29c781715dd",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "header",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1280,
        "wires": [
            [
                "d1b63bd881fd3f60"
            ]
        ]
    },
    {
        "id": "844e3b1fde8fb5c5",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 1",
        "func": "var pl;\nvar tp;\n\nif (msg.payload != false) {\n    pl = true;\n} else {\n   pl = false;\n}\n\nif (msg.topic != \" \") {\n   tp = msg.topic;\n} else {\n    tp = \"Unknown\";\n}\nmsg = {payload: pl, topic: tp};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1640,
        "wires": [
            [
                "f1b36c7fa7e03fc7",
                "7e7e133f5961c7f2",
                "1bd8cc813beadbcd"
            ]
        ]
    },
    {
        "id": "7e7e133f5961c7f2",
        "type": "ui_switch",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "ed11dac3712eba25",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-2x fa-circle",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-2x fa-circle",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1070,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "f1b36c7fa7e03fc7",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "BOOL to Num",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1740,
        "wires": [
            [
                "c971a845d38bc041",
                "4cf9cfbbdb7bd9d2"
            ]
        ]
    },
    {
        "id": "d518fc3102bd32c6",
        "type": "ui_numeric",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "506be1239e6dff66",
        "order": 1,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "num",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 1860,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "164c1ad51850b5f2",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 2",
        "func": "var msg1;\nvar reset = msg.payload.reset;\nvar trigger = msg.payload.trigger;\nvar topic = msg.header;\nvar count = msg.payload.num;\nvar device = msg.payload[topic];\nif (reset == true) {\n    msg = {payload: 0};\n    msg1 = {payload: false, topic: 'trigger'};\n} else {\n    if (device == false && trigger == false) {\n        msg = {payload: count + 1};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else if (device == false && trigger == true) {\n        msg = {payload: count};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else {\n        msg = {payload: count}; \n        msg1 = {payload: false, topic: 'trigger'};\n    }\n}\nmsg = {payload: msg.payload, topic: topic};\n\nreturn [msg,msg1];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1680,
        "wires": [
            [
                "f29552051da08178",
                "d518fc3102bd32c6",
                "e3dbcf00e90acc2c"
            ],
            [
                "296ab273589f4c62"
            ]
        ]
    },
    {
        "id": "296ab273589f4c62",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1450,
        "y": 1680,
        "wires": [
            [
                "164c1ad51850b5f2"
            ]
        ]
    },
    {
        "id": "c971a845d38bc041",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1850,
        "y": 1740,
        "wires": [
            [
                "e312af959cba4d0b"
            ]
        ]
    },
    {
        "id": "f29552051da08178",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "num",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1680,
        "wires": [
            [
                "296ab273589f4c62"
            ]
        ]
    },
    {
        "id": "0403defd8f2e0675",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 910,
        "y": 1540,
        "wires": [
            [
                "f4b4f8da59361b1a",
                "06b555287c18809e"
            ]
        ]
    },
    {
        "id": "f4b4f8da59361b1a",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 1540,
        "wires": [
            [
                "436ac641fc5c05c3"
            ]
        ]
    },
    {
        "id": "2b105527f1585960",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 1540,
        "wires": [
            [
                "296ab273589f4c62"
            ]
        ]
    },
    {
        "id": "e3e2857ac839971b",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1330,
        "y": 1500,
        "wires": [
            [
                "436ac641fc5c05c3"
            ]
        ]
    },
    {
        "id": "436ac641fc5c05c3",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1300,
        "y": 1540,
        "wires": [
            [
                "2b105527f1585960"
            ]
        ]
    },
    {
        "id": "1bfad60ddde9de99",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 1290,
        "y": 1620,
        "wires": [
            [
                "296ab273589f4c62"
            ]
        ]
    },
    {
        "id": "379a09e4308c8433",
        "type": "ui_text",
        "z": "afffb92e3a0b1e68",
        "group": "506be1239e6dff66",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Zeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2050,
        "y": 1600,
        "wires": []
    },
    {
        "id": "06b555287c18809e",
        "type": "moment",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MM YYYY",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 1640,
        "y": 1600,
        "wires": [
            [
                "2091fe66081a3c15"
            ]
        ]
    },
    {
        "id": "2091fe66081a3c15",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 3",
        "func": "msg = {payload: \"seit \" + msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 1600,
        "wires": [
            [
                "379a09e4308c8433"
            ]
        ]
    },
    {
        "id": "4cf9cfbbdb7bd9d2",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1860,
        "y": 1780,
        "wires": [
            [
                "30f3ec1c2fb22250"
            ]
        ]
    },
    {
        "id": "cfd4440544ae42a5",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 750,
        "y": 1740,
        "wires": [
            [
                "f29552051da08178"
            ]
        ]
    },
    {
        "id": "e312af959cba4d0b",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 24h",
        "mode": "link",
        "links": [
            "68043402d0f077fd"
        ],
        "x": 2005,
        "y": 1740,
        "wires": []
    },
    {
        "id": "30f3ec1c2fb22250",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 7d",
        "mode": "link",
        "links": [
            "9fe6fc4652976781"
        ],
        "x": 2005,
        "y": 1780,
        "wires": []
    },
    {
        "id": "e3dbcf00e90acc2c",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out ping failed write",
        "mode": "link",
        "links": [
            "e672a601bd5aa4fc"
        ],
        "x": 1815,
        "y": 1680,
        "wires": []
    },
    {
        "id": "5cfe8aa150c0e7f9",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset",
        "links": [
            "79c52b1cf523dccc"
        ],
        "x": 945,
        "y": 1500,
        "wires": [
            [
                "f4b4f8da59361b1a",
                "06b555287c18809e"
            ]
        ]
    },
    {
        "id": "c3888d66bc6c36ba",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset to 0",
        "links": [
            "3659caf389c34270"
        ],
        "x": 715,
        "y": 1780,
        "wires": [
            [
                "f29552051da08178"
            ]
        ]
    },
    {
        "id": "1bd8cc813beadbcd",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "header",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1640,
        "wires": [
            [
                "296ab273589f4c62"
            ]
        ]
    },
    {
        "id": "7d458e3470ddfd4d",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 4",
        "func": "var pl;\nvar tp;\n\nif (msg.payload != false) {\n    pl = true;\n} else {\n   pl = false;\n}\n\nif (msg.topic != \" \") {\n   tp = msg.topic;\n} else {\n    tp = \"Unknown\";\n}\nmsg = {payload: pl, topic: tp};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1960,
        "wires": [
            [
                "6f550f8ebe23d3e4",
                "438a155751113a8b",
                "610db88dd694662c"
            ]
        ]
    },
    {
        "id": "438a155751113a8b",
        "type": "ui_switch",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "ed11dac3712eba25",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-2x fa-circle",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-2x fa-circle",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1070,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "6f550f8ebe23d3e4",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "BOOL to Num",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 2060,
        "wires": [
            [
                "f19459f192ea2766",
                "5b61918c175b9576"
            ]
        ]
    },
    {
        "id": "3152097fb25ed3d2",
        "type": "ui_numeric",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "506be1239e6dff66",
        "order": 1,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "num",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 1860,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "b677a6236bc8e79a",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 5",
        "func": "var msg1;\nvar reset = msg.payload.reset;\nvar trigger = msg.payload.trigger;\nvar topic = msg.header;\nvar count = msg.payload.num;\nvar device = msg.payload[topic];\nif (reset == true) {\n    msg = {payload: 0};\n    msg1 = {payload: false, topic: 'trigger'};\n} else {\n    if (device == false && trigger == false) {\n        msg = {payload: count + 1};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else if (device == false && trigger == true) {\n        msg = {payload: count};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else {\n        msg = {payload: count}; \n        msg1 = {payload: false, topic: 'trigger'};\n    }\n}\nmsg = {payload: msg.payload, topic: topic};\n\nreturn [msg,msg1];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 2000,
        "wires": [
            [
                "748612979981f826",
                "3152097fb25ed3d2",
                "a4132cf8b753cebe"
            ],
            [
                "3d5e3f0b6a91d178"
            ]
        ]
    },
    {
        "id": "3d5e3f0b6a91d178",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1450,
        "y": 2000,
        "wires": [
            [
                "b677a6236bc8e79a"
            ]
        ]
    },
    {
        "id": "f19459f192ea2766",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1850,
        "y": 2060,
        "wires": [
            [
                "a5c0486edce5ea14"
            ]
        ]
    },
    {
        "id": "748612979981f826",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "num",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 2000,
        "wires": [
            [
                "3d5e3f0b6a91d178"
            ]
        ]
    },
    {
        "id": "7acafa6eea1d9a78",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 910,
        "y": 1860,
        "wires": [
            [
                "41cf5360324b0d17",
                "851a21adc1608833"
            ]
        ]
    },
    {
        "id": "41cf5360324b0d17",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 1860,
        "wires": [
            [
                "75e4407c9f4342fe"
            ]
        ]
    },
    {
        "id": "7d3d397b1ecd6405",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 1860,
        "wires": [
            [
                "3d5e3f0b6a91d178"
            ]
        ]
    },
    {
        "id": "7e2ae1cf24784832",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1330,
        "y": 1820,
        "wires": [
            [
                "75e4407c9f4342fe"
            ]
        ]
    },
    {
        "id": "75e4407c9f4342fe",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1300,
        "y": 1860,
        "wires": [
            [
                "7d3d397b1ecd6405"
            ]
        ]
    },
    {
        "id": "a68416b9964ddaa2",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 1290,
        "y": 1940,
        "wires": [
            [
                "3d5e3f0b6a91d178"
            ]
        ]
    },
    {
        "id": "e550424055c80224",
        "type": "ui_text",
        "z": "afffb92e3a0b1e68",
        "group": "506be1239e6dff66",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Zeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2050,
        "y": 1920,
        "wires": []
    },
    {
        "id": "851a21adc1608833",
        "type": "moment",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MM YYYY",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 1640,
        "y": 1920,
        "wires": [
            [
                "679000a144dc216a"
            ]
        ]
    },
    {
        "id": "679000a144dc216a",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 6",
        "func": "msg = {payload: \"seit \" + msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 1920,
        "wires": [
            [
                "e550424055c80224"
            ]
        ]
    },
    {
        "id": "5b61918c175b9576",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1860,
        "y": 2100,
        "wires": [
            [
                "f594c260ebd5e92d"
            ]
        ]
    },
    {
        "id": "a75a38437821ccfe",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 750,
        "y": 2060,
        "wires": [
            [
                "748612979981f826"
            ]
        ]
    },
    {
        "id": "a5c0486edce5ea14",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 24h",
        "mode": "link",
        "links": [
            "68043402d0f077fd"
        ],
        "x": 2005,
        "y": 2060,
        "wires": []
    },
    {
        "id": "f594c260ebd5e92d",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 7d",
        "mode": "link",
        "links": [
            "9fe6fc4652976781"
        ],
        "x": 2005,
        "y": 2100,
        "wires": []
    },
    {
        "id": "a4132cf8b753cebe",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out ping failed write",
        "mode": "link",
        "links": [
            "e672a601bd5aa4fc"
        ],
        "x": 1815,
        "y": 2000,
        "wires": []
    },
    {
        "id": "aa66d74fb4cd8396",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset",
        "links": [
            "79c52b1cf523dccc"
        ],
        "x": 945,
        "y": 1820,
        "wires": [
            [
                "41cf5360324b0d17",
                "851a21adc1608833"
            ]
        ]
    },
    {
        "id": "e9d5f72c79ecbc54",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset to 0",
        "links": [
            "3659caf389c34270"
        ],
        "x": 715,
        "y": 2100,
        "wires": [
            [
                "748612979981f826"
            ]
        ]
    },
    {
        "id": "610db88dd694662c",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "header",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1960,
        "wires": [
            [
                "3d5e3f0b6a91d178"
            ]
        ]
    },
    {
        "id": "962b93d1c7bbbb83",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 7",
        "func": "var pl;\nvar tp;\n\nif (msg.payload != false) {\n    pl = true;\n} else {\n   pl = false;\n}\n\nif (msg.topic != \" \") {\n   tp = msg.topic;\n} else {\n    tp = \"Unknown\";\n}\nmsg = {payload: pl, topic: tp};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 2320,
        "wires": [
            [
                "ea791274eabe9307",
                "9d6992ac2364a022",
                "0e8b14ee9b2e4a85"
            ]
        ]
    },
    {
        "id": "9d6992ac2364a022",
        "type": "ui_switch",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "ed11dac3712eba25",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-2x fa-circle",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-2x fa-circle",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1070,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "ea791274eabe9307",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "BOOL to Num",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 2420,
        "wires": [
            [
                "5c6f8f37973d5fd4",
                "b93ffbc95ffc460c"
            ]
        ]
    },
    {
        "id": "e180cfc6837d5bd7",
        "type": "ui_numeric",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "506be1239e6dff66",
        "order": 1,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "num",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 1860,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "8e69972e70d316ec",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 8",
        "func": "var msg1;\nvar reset = msg.payload.reset;\nvar trigger = msg.payload.trigger;\nvar topic = msg.header;\nvar count = msg.payload.num;\nvar device = msg.payload[topic];\nif (reset == true) {\n    msg = {payload: 0};\n    msg1 = {payload: false, topic: 'trigger'};\n} else {\n    if (device == false && trigger == false) {\n        msg = {payload: count + 1};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else if (device == false && trigger == true) {\n        msg = {payload: count};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else {\n        msg = {payload: count}; \n        msg1 = {payload: false, topic: 'trigger'};\n    }\n}\nmsg = {payload: msg.payload, topic: topic};\n\nreturn [msg,msg1];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 2360,
        "wires": [
            [
                "4d3fc6dbaf976c8a",
                "e180cfc6837d5bd7",
                "bcafbf8ed9775205"
            ],
            [
                "5b8e29d9f4b32aba"
            ]
        ]
    },
    {
        "id": "5b8e29d9f4b32aba",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1450,
        "y": 2360,
        "wires": [
            [
                "8e69972e70d316ec"
            ]
        ]
    },
    {
        "id": "5c6f8f37973d5fd4",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1850,
        "y": 2420,
        "wires": [
            [
                "017ace409fce5fbf"
            ]
        ]
    },
    {
        "id": "4d3fc6dbaf976c8a",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "num",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 2360,
        "wires": [
            [
                "5b8e29d9f4b32aba"
            ]
        ]
    },
    {
        "id": "6a72540e8b3ecdf9",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 910,
        "y": 2220,
        "wires": [
            [
                "3983edbdedb83955",
                "f8a0ea9a190bfd17"
            ]
        ]
    },
    {
        "id": "3983edbdedb83955",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 2220,
        "wires": [
            [
                "dd6a3ec797bdd9f6"
            ]
        ]
    },
    {
        "id": "21ab9f6179bfb9dc",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 2220,
        "wires": [
            [
                "5b8e29d9f4b32aba"
            ]
        ]
    },
    {
        "id": "b9a48e47fb5edb6f",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1330,
        "y": 2180,
        "wires": [
            [
                "dd6a3ec797bdd9f6"
            ]
        ]
    },
    {
        "id": "dd6a3ec797bdd9f6",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1300,
        "y": 2220,
        "wires": [
            [
                "21ab9f6179bfb9dc"
            ]
        ]
    },
    {
        "id": "d119788fbf92cefc",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 1290,
        "y": 2300,
        "wires": [
            [
                "5b8e29d9f4b32aba"
            ]
        ]
    },
    {
        "id": "9e7702d066b02c8e",
        "type": "ui_text",
        "z": "afffb92e3a0b1e68",
        "group": "506be1239e6dff66",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Zeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2050,
        "y": 2280,
        "wires": []
    },
    {
        "id": "f8a0ea9a190bfd17",
        "type": "moment",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MM YYYY",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 1640,
        "y": 2280,
        "wires": [
            [
                "59cb4007848bf46b"
            ]
        ]
    },
    {
        "id": "59cb4007848bf46b",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 9",
        "func": "msg = {payload: \"seit \" + msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 2280,
        "wires": [
            [
                "9e7702d066b02c8e"
            ]
        ]
    },
    {
        "id": "b93ffbc95ffc460c",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1860,
        "y": 2460,
        "wires": [
            [
                "563bb3c0e6ae9ad7"
            ]
        ]
    },
    {
        "id": "4887f4f0e782ae2a",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 750,
        "y": 2420,
        "wires": [
            [
                "4d3fc6dbaf976c8a"
            ]
        ]
    },
    {
        "id": "017ace409fce5fbf",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 24h",
        "mode": "link",
        "links": [
            "68043402d0f077fd"
        ],
        "x": 2005,
        "y": 2420,
        "wires": []
    },
    {
        "id": "563bb3c0e6ae9ad7",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 7d",
        "mode": "link",
        "links": [
            "9fe6fc4652976781"
        ],
        "x": 2005,
        "y": 2460,
        "wires": []
    },
    {
        "id": "bcafbf8ed9775205",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out ping failed write",
        "mode": "link",
        "links": [
            "e672a601bd5aa4fc"
        ],
        "x": 1815,
        "y": 2360,
        "wires": []
    },
    {
        "id": "6ece5104d8af9a94",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset",
        "links": [
            "79c52b1cf523dccc"
        ],
        "x": 945,
        "y": 2180,
        "wires": [
            [
                "3983edbdedb83955",
                "f8a0ea9a190bfd17"
            ]
        ]
    },
    {
        "id": "905df0a21b39aea7",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset to 0",
        "links": [
            "3659caf389c34270"
        ],
        "x": 715,
        "y": 2460,
        "wires": [
            [
                "4d3fc6dbaf976c8a"
            ]
        ]
    },
    {
        "id": "0e8b14ee9b2e4a85",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "header",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 2320,
        "wires": [
            [
                "5b8e29d9f4b32aba"
            ]
        ]
    },
    {
        "id": "2616dc879322bed4",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 10",
        "func": "var pl;\nvar tp;\n\nif (msg.payload != false) {\n    pl = true;\n} else {\n   pl = false;\n}\n\nif (msg.topic != \" \") {\n   tp = msg.topic;\n} else {\n    tp = \"Unknown\";\n}\nmsg = {payload: pl, topic: tp};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2680,
        "wires": [
            [
                "87e72aa2d5a151ee",
                "eb1c792129059a7b",
                "a1e040fe7d57e0c1"
            ]
        ]
    },
    {
        "id": "eb1c792129059a7b",
        "type": "ui_switch",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "ed11dac3712eba25",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-2x fa-circle",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-2x fa-circle",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1060,
        "y": 2620,
        "wires": [
            []
        ]
    },
    {
        "id": "87e72aa2d5a151ee",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "BOOL to Num",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 2780,
        "wires": [
            [
                "88937790493560d3",
                "39033d1b096c5abc"
            ]
        ]
    },
    {
        "id": "5ce232aeb0bc4212",
        "type": "ui_numeric",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "506be1239e6dff66",
        "order": 1,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "num",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 1850,
        "y": 2680,
        "wires": [
            []
        ]
    },
    {
        "id": "e597aa4133138bf4",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 11",
        "func": "var msg1;\nvar reset = msg.payload.reset;\nvar trigger = msg.payload.trigger;\nvar topic = msg.header;\nvar count = msg.payload.num;\nvar device = msg.payload[topic];\nif (reset == true) {\n    msg = {payload: 0};\n    msg1 = {payload: false, topic: 'trigger'};\n} else {\n    if (device == false && trigger == false) {\n        msg = {payload: count + 1};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else if (device == false && trigger == true) {\n        msg = {payload: count};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else {\n        msg = {payload: count}; \n        msg1 = {payload: false, topic: 'trigger'};\n    }\n}\nmsg = {payload: msg.payload, topic: topic};\n\nreturn [msg,msg1];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 2720,
        "wires": [
            [
                "9fc0fe667d280bbc",
                "5ce232aeb0bc4212",
                "33f10a6b6c8fde98"
            ],
            [
                "5eb37082ee95282e"
            ]
        ]
    },
    {
        "id": "5eb37082ee95282e",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1440,
        "y": 2720,
        "wires": [
            [
                "e597aa4133138bf4"
            ]
        ]
    },
    {
        "id": "88937790493560d3",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1840,
        "y": 2780,
        "wires": [
            [
                "8fa3e7ec0bb21c1d"
            ]
        ]
    },
    {
        "id": "9fc0fe667d280bbc",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "num",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 2720,
        "wires": [
            [
                "5eb37082ee95282e"
            ]
        ]
    },
    {
        "id": "f51499dd248520a8",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 2580,
        "wires": [
            [
                "ef5853d19ec234dc",
                "c013d91c9d6a64e0"
            ]
        ]
    },
    {
        "id": "ef5853d19ec234dc",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1050,
        "y": 2580,
        "wires": [
            [
                "0a1d9a30206fbe0c"
            ]
        ]
    },
    {
        "id": "9c6a763399f56b28",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 2580,
        "wires": [
            [
                "5eb37082ee95282e"
            ]
        ]
    },
    {
        "id": "e0d9ee8c45663cf8",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1320,
        "y": 2540,
        "wires": [
            [
                "0a1d9a30206fbe0c"
            ]
        ]
    },
    {
        "id": "0a1d9a30206fbe0c",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1290,
        "y": 2580,
        "wires": [
            [
                "9c6a763399f56b28"
            ]
        ]
    },
    {
        "id": "9352649a1e3d75ae",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 1280,
        "y": 2660,
        "wires": [
            [
                "5eb37082ee95282e"
            ]
        ]
    },
    {
        "id": "5b164e3f9df797cc",
        "type": "ui_text",
        "z": "afffb92e3a0b1e68",
        "group": "506be1239e6dff66",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Zeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2040,
        "y": 2640,
        "wires": []
    },
    {
        "id": "c013d91c9d6a64e0",
        "type": "moment",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MM YYYY",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 1630,
        "y": 2640,
        "wires": [
            [
                "77b6e85be4b55c6e"
            ]
        ]
    },
    {
        "id": "77b6e85be4b55c6e",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 12",
        "func": "msg = {payload: \"seit \" + msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 2640,
        "wires": [
            [
                "5b164e3f9df797cc"
            ]
        ]
    },
    {
        "id": "39033d1b096c5abc",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1850,
        "y": 2820,
        "wires": [
            [
                "f34ca1844ed5e2d0"
            ]
        ]
    },
    {
        "id": "2b78fa5948d424f2",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 740,
        "y": 2780,
        "wires": [
            [
                "9fc0fe667d280bbc"
            ]
        ]
    },
    {
        "id": "8fa3e7ec0bb21c1d",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 24h",
        "mode": "link",
        "links": [
            "68043402d0f077fd"
        ],
        "x": 1995,
        "y": 2780,
        "wires": []
    },
    {
        "id": "f34ca1844ed5e2d0",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 7d",
        "mode": "link",
        "links": [
            "9fe6fc4652976781"
        ],
        "x": 1995,
        "y": 2820,
        "wires": []
    },
    {
        "id": "33f10a6b6c8fde98",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out ping failed write",
        "mode": "link",
        "links": [
            "e672a601bd5aa4fc"
        ],
        "x": 1805,
        "y": 2720,
        "wires": []
    },
    {
        "id": "0d29e9b172da5345",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset",
        "links": [
            "79c52b1cf523dccc"
        ],
        "x": 935,
        "y": 2540,
        "wires": [
            [
                "ef5853d19ec234dc",
                "c013d91c9d6a64e0"
            ]
        ]
    },
    {
        "id": "e3877f7475402152",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset to 0",
        "links": [
            "3659caf389c34270"
        ],
        "x": 705,
        "y": 2820,
        "wires": [
            [
                "9fc0fe667d280bbc"
            ]
        ]
    },
    {
        "id": "a1e040fe7d57e0c1",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "header",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 2680,
        "wires": [
            [
                "5eb37082ee95282e"
            ]
        ]
    },
    {
        "id": "64508022ef79b1f9",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 13",
        "func": "var pl;\nvar tp;\n\nif (msg.payload != false) {\n    pl = true;\n} else {\n   pl = false;\n}\n\nif (msg.topic != \" \") {\n   tp = msg.topic;\n} else {\n    tp = \"Unknown\";\n}\nmsg = {payload: pl, topic: tp};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 3040,
        "wires": [
            [
                "8aa3783ca3cbb885",
                "f14eeaafe622627b",
                "ec733c34ecf20b64"
            ]
        ]
    },
    {
        "id": "f14eeaafe622627b",
        "type": "ui_switch",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "ed11dac3712eba25",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-2x fa-circle",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-2x fa-circle",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1060,
        "y": 2980,
        "wires": [
            []
        ]
    },
    {
        "id": "8aa3783ca3cbb885",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "BOOL to Num",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 3140,
        "wires": [
            [
                "8f5515a642458773",
                "83df1b9bf041c237"
            ]
        ]
    },
    {
        "id": "92cb41ae69bc9dd7",
        "type": "ui_numeric",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "506be1239e6dff66",
        "order": 1,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "num",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 1850,
        "y": 3040,
        "wires": [
            []
        ]
    },
    {
        "id": "190c4a859f72ed30",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 14",
        "func": "var msg1;\nvar reset = msg.payload.reset;\nvar trigger = msg.payload.trigger;\nvar topic = msg.header;\nvar count = msg.payload.num;\nvar device = msg.payload[topic];\nif (reset == true) {\n    msg = {payload: 0};\n    msg1 = {payload: false, topic: 'trigger'};\n} else {\n    if (device == false && trigger == false) {\n        msg = {payload: count + 1};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else if (device == false && trigger == true) {\n        msg = {payload: count};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else {\n        msg = {payload: count}; \n        msg1 = {payload: false, topic: 'trigger'};\n    }\n}\nmsg = {payload: msg.payload, topic: topic};\n\nreturn [msg,msg1];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 3080,
        "wires": [
            [
                "f369a03b9354c005",
                "92cb41ae69bc9dd7",
                "acac3a4dd1b17aa8"
            ],
            [
                "0f5dbdc5362f2202"
            ]
        ]
    },
    {
        "id": "0f5dbdc5362f2202",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1440,
        "y": 3080,
        "wires": [
            [
                "190c4a859f72ed30"
            ]
        ]
    },
    {
        "id": "8f5515a642458773",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1840,
        "y": 3140,
        "wires": [
            [
                "3b56fe6c827658b2"
            ]
        ]
    },
    {
        "id": "f369a03b9354c005",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "num",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 3080,
        "wires": [
            [
                "0f5dbdc5362f2202"
            ]
        ]
    },
    {
        "id": "19643e1e80c21ad1",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 2940,
        "wires": [
            [
                "bb7b028d03fda19c",
                "92443dec82b74e65"
            ]
        ]
    },
    {
        "id": "bb7b028d03fda19c",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1050,
        "y": 2940,
        "wires": [
            [
                "705b6aa5a0c97ef8"
            ]
        ]
    },
    {
        "id": "50988c58db629a21",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 2940,
        "wires": [
            [
                "0f5dbdc5362f2202"
            ]
        ]
    },
    {
        "id": "b4a492270d32f407",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1320,
        "y": 2900,
        "wires": [
            [
                "705b6aa5a0c97ef8"
            ]
        ]
    },
    {
        "id": "705b6aa5a0c97ef8",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1290,
        "y": 2940,
        "wires": [
            [
                "50988c58db629a21"
            ]
        ]
    },
    {
        "id": "6eba807a008244bf",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 1280,
        "y": 3020,
        "wires": [
            [
                "0f5dbdc5362f2202"
            ]
        ]
    },
    {
        "id": "29dedfcfd68aff5c",
        "type": "ui_text",
        "z": "afffb92e3a0b1e68",
        "group": "506be1239e6dff66",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Zeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2040,
        "y": 3000,
        "wires": []
    },
    {
        "id": "92443dec82b74e65",
        "type": "moment",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MM YYYY",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 1630,
        "y": 3000,
        "wires": [
            [
                "ee92486d099af518"
            ]
        ]
    },
    {
        "id": "ee92486d099af518",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 15",
        "func": "msg = {payload: \"seit \" + msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 3000,
        "wires": [
            [
                "29dedfcfd68aff5c"
            ]
        ]
    },
    {
        "id": "83df1b9bf041c237",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1850,
        "y": 3180,
        "wires": [
            [
                "fde2564d2a4c7508"
            ]
        ]
    },
    {
        "id": "7f62279c53d8c44e",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 740,
        "y": 3140,
        "wires": [
            [
                "f369a03b9354c005"
            ]
        ]
    },
    {
        "id": "3b56fe6c827658b2",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 24h",
        "mode": "link",
        "links": [
            "68043402d0f077fd"
        ],
        "x": 1995,
        "y": 3140,
        "wires": []
    },
    {
        "id": "fde2564d2a4c7508",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 7d",
        "mode": "link",
        "links": [
            "9fe6fc4652976781"
        ],
        "x": 1995,
        "y": 3180,
        "wires": []
    },
    {
        "id": "acac3a4dd1b17aa8",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out ping failed write",
        "mode": "link",
        "links": [
            "e672a601bd5aa4fc"
        ],
        "x": 1805,
        "y": 3080,
        "wires": []
    },
    {
        "id": "26e2cba40c39d031",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset",
        "links": [
            "79c52b1cf523dccc"
        ],
        "x": 935,
        "y": 2900,
        "wires": [
            [
                "bb7b028d03fda19c",
                "92443dec82b74e65"
            ]
        ]
    },
    {
        "id": "60370bd2faec8375",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset to 0",
        "links": [
            "3659caf389c34270"
        ],
        "x": 705,
        "y": 3180,
        "wires": [
            [
                "f369a03b9354c005"
            ]
        ]
    },
    {
        "id": "ec733c34ecf20b64",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "header",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 3040,
        "wires": [
            [
                "0f5dbdc5362f2202"
            ]
        ]
    },
    {
        "id": "7bfbf06c6afa0803",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2720,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "5ecc0cc08fe0bdac",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 2150,
        "y": 540,
        "wires": [
            [
                "10dd1d65995a3109"
            ]
        ]
    },
    {
        "id": "f7c82e66ad7c353e",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \"){\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2580,
        "y": 540,
        "wires": [
            [
                "7bfbf06c6afa0803"
            ]
        ]
    },
    {
        "id": "c6b5ff4aaf636b4f",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2450,
        "y": 540,
        "wires": [
            [
                "f7c82e66ad7c353e"
            ]
        ]
    },
    {
        "id": "10dd1d65995a3109",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2300,
        "y": 540,
        "wires": [
            [
                "c6b5ff4aaf636b4f"
            ]
        ]
    },
    {
        "id": "c14e1c585cb8e15a",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2720,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "c88cead4da17472e",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 2150,
        "y": 620,
        "wires": [
            [
                "4c760e9571aaeff8"
            ]
        ]
    },
    {
        "id": "5560493a076eb8f6",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \") {\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2580,
        "y": 620,
        "wires": [
            [
                "c14e1c585cb8e15a"
            ]
        ]
    },
    {
        "id": "5a4bdc24d0303b75",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2450,
        "y": 620,
        "wires": [
            [
                "5560493a076eb8f6"
            ]
        ]
    },
    {
        "id": "4c760e9571aaeff8",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2300,
        "y": 620,
        "wires": [
            [
                "5a4bdc24d0303b75"
            ]
        ]
    },
    {
        "id": "56cc4d77648dd94e",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "24h",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2000,
        "y": 540,
        "wires": [
            [
                "5ecc0cc08fe0bdac"
            ]
        ]
    },
    {
        "id": "12078a8229d8fd2e",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "7d",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2000,
        "y": 620,
        "wires": [
            [
                "c88cead4da17472e"
            ]
        ]
    }
]