flows.json
[
    {
        "id": "afffb92e3a0b1e68",
        "type": "tab",
        "label": "Volta Pinger",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5529a715ce6ddc73",
        "type": "ping",
        "z": "afffb92e3a0b1e68",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "",
        "host": "",
        "timer": "1",
        "inputs": 1,
        "x": 670,
        "y": 60,
        "wires": [
            [
                "e69a1b700681d8f2"
            ]
        ]
    },
    {
        "id": "2d509a36f4c99f90",
        "type": "ping",
        "z": "afffb92e3a0b1e68",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "",
        "host": "",
        "timer": "1",
        "inputs": 1,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "eb3dabaeb4a98863"
            ]
        ]
    },
    {
        "id": "cc9b3ebf0d3a94ca",
        "type": "ping",
        "z": "afffb92e3a0b1e68",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "",
        "host": "",
        "timer": "1",
        "inputs": 1,
        "x": 670,
        "y": 220,
        "wires": [
            [
                "c78ce2f313917ca2"
            ]
        ]
    },
    {
        "id": "eb3dabaeb4a98863",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "firewall",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 140,
        "wires": [
            [
                "cd2661dc7601a41b",
                "c15a45d23dc4c291",
                "3c5568b60a720dad"
            ]
        ]
    },
    {
        "id": "c78ce2f313917ca2",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "alarmserver",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 220,
        "wires": [
            [
                "96b7e79bde16d3ca",
                "23a5172862c929f9",
                "d03c3b6c1efed438"
            ]
        ]
    },
    {
        "id": "0f54998cc4488d7d",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "b2fcdc22d01a3d68"
            ]
        ]
    },
    {
        "id": "8f25de0627840d10",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 2",
        "func": "var pl;\nvar tp;\n\nif (msg.payload != false) {\n    pl = true;\n} else {\n   pl = false;\n}\n\nif (msg.topic != \" \") {\n   tp = msg.topic;\n} else {\n    tp = \"Unknown\";\n}\nmsg = {payload: pl, topic: tp};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1280,
        "wires": [
            [
                "fa8eb0faaf46a0e4",
                "f515909db435a005",
                "46e4a29c781715dd"
            ]
        ]
    },
    {
        "id": "f515909db435a005",
        "type": "ui_switch",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "ed11dac3712eba25",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-2x fa-circle",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-2x fa-circle",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1070,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "fa8eb0faaf46a0e4",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "BOOL to Num",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1380,
        "wires": [
            [
                "406596152961d4e1",
                "6ea071dcf51ddd18"
            ]
        ]
    },
    {
        "id": "e90c9a1fd5c3e016",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 5",
        "func": "var msg1;\nvar reset = msg.payload.reset;\nvar trigger = msg.payload.trigger;\nvar topic = msg.header;\nvar count = msg.payload.num;\nvar device = msg.payload[topic];\nif (reset == true) {\n    msg = {payload: 0};\n    msg1 = {payload: false, topic: 'trigger'};\n} else {\n    if (device == false && trigger == false) {\n        msg = {payload: count + 1};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else if (device == false && trigger == true) {\n        msg = {payload: count};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else {\n        msg = {payload: count}; \n        msg1 = {payload: false, topic: 'trigger'};\n    }\n}\nmsg = { payload: msg.payload, topic: topic, hostname: topic, value: count};\n\nreturn [msg,msg1];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1320,
        "wires": [
            [
                "80e7eefd4627839b",
                "66a98ece8e673ba3"
            ],
            [
                "d1b63bd881fd3f60"
            ]
        ]
    },
    {
        "id": "d1b63bd881fd3f60",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1450,
        "y": 1320,
        "wires": [
            [
                "e90c9a1fd5c3e016"
            ]
        ]
    },
    {
        "id": "bb3eb0043b9d7d53",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 25,
        "width": 9,
        "height": 9,
        "label": "UP/Down 24h",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2760,
        "y": 620,
        "wires": [
            [
                "56cc4d77648dd94e"
            ]
        ]
    },
    {
        "id": "78a1f4df1bd08052",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 26,
        "width": 9,
        "height": 9,
        "label": "UP/Down 7d",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2760,
        "y": 700,
        "wires": [
            [
                "12078a8229d8fd2e"
            ]
        ]
    },
    {
        "id": "406596152961d4e1",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1210,
        "y": 1380,
        "wires": [
            [
                "3d1cf028c7d74a6b"
            ]
        ]
    },
    {
        "id": "3bcb26cb0fd8a12f",
        "type": "ping",
        "z": "afffb92e3a0b1e68",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "",
        "host": "",
        "timer": "1",
        "inputs": 1,
        "x": 670,
        "y": 300,
        "wires": [
            [
                "f64a92acba5ecce9"
            ]
        ]
    },
    {
        "id": "f64a92acba5ecce9",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TKA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 300,
        "wires": [
            [
                "9f7913a94a92216f",
                "bc5a6f0629e12aa9",
                "f044e6adfc032f9c"
            ]
        ]
    },
    {
        "id": "4dab21328edaf3fd",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "pingfails",
        "filename": "/var/www/html/monitoring/pings/pingfails.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3120,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "e6031a3e937cc9a9",
        "type": "file in",
        "z": "afffb92e3a0b1e68",
        "name": "pingfails",
        "filename": "/var/www/html/monitoring/pings/pingfails.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 140,
        "y": 820,
        "wires": [
            [
                "fc063bf918dc33dc",
                "9c70cebf2fea4131"
            ]
        ]
    },
    {
        "id": "651a48b576ee45b0",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "e6031a3e937cc9a9"
            ]
        ]
    },
    {
        "id": "6f946fb07d396c73",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "pingfail",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2740,
        "y": 860,
        "wires": [
            [
                "0572a29a47092ff5",
                "a23486cb9da62924"
            ]
        ]
    },
    {
        "id": "fc063bf918dc33dc",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "pingfails str to object",
        "func": "var str = msg.payload;\nvar msg = {payload: JSON.parse(str)};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 880,
        "wires": [
            [
                "4ad8171004f160ec"
            ]
        ]
    },
    {
        "id": "7187bce1574ae151",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "pingfails splitter",
        "func": "let tps = Object.keys(msg.payload)\n    .filter(k => k.startsWith(\"ping\") && k !== \"pingfails\");\n\nlet msgs = tps.map(tp => {\n    let name = msg.payload[tp];  \n\n    let key = Object.keys(msg.payload.pingfails).find(k => k.startsWith(name));\n    \n    return { \n        topic: key, \n        payload: msg.payload.pingfails[key] \n    };\n});\n\nreturn msgs;\n",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1200,
        "wires": [
            [
                "e5201532d41496f0",
                "80e7eefd4627839b"
            ],
            [
                "e5201532d41496f0",
                "972079a29bb99ab8"
            ],
            [
                "e5201532d41496f0",
                "cab0accac0f815de"
            ],
            [
                "e5201532d41496f0",
                "97b83fecc5af32b4"
            ],
            [
                "e5201532d41496f0",
                "4a3540880f24e263"
            ],
            [
                "e5201532d41496f0",
                "35e9d8e6d9b65d0b"
            ]
        ]
    },
    {
        "id": "0572a29a47092ff5",
        "type": "rbe",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 2930,
        "y": 860,
        "wires": [
            [
                "4dab21328edaf3fd",
                "2d88986deb5eb11c"
            ]
        ]
    },
    {
        "id": "80e7eefd4627839b",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "num",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1320,
        "wires": [
            [
                "d1b63bd881fd3f60"
            ]
        ]
    },
    {
        "id": "2bab9fceb0a75a5c",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1040,
        "wires": []
    },
    {
        "id": "50f5d0ee9579c8c0",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 910,
        "y": 1180,
        "wires": [
            [
                "8fbb885cbdbfe8f2",
                "83f20980dbb07c46"
            ]
        ]
    },
    {
        "id": "8fbb885cbdbfe8f2",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 1180,
        "wires": [
            [
                "b7f00261a22fdaf3"
            ]
        ]
    },
    {
        "id": "1b284f91780a5c90",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 1180,
        "wires": [
            [
                "d1b63bd881fd3f60"
            ]
        ]
    },
    {
        "id": "d52657876cc66d49",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1330,
        "y": 1140,
        "wires": [
            [
                "b7f00261a22fdaf3"
            ]
        ]
    },
    {
        "id": "b7f00261a22fdaf3",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1300,
        "y": 1180,
        "wires": [
            [
                "1b284f91780a5c90"
            ]
        ]
    },
    {
        "id": "c07e4092efd36825",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 1290,
        "y": 1260,
        "wires": [
            [
                "d1b63bd881fd3f60"
            ]
        ]
    },
    {
        "id": "f80e390f6e61015f",
        "type": "ui_text",
        "z": "afffb92e3a0b1e68",
        "group": "506be1239e6dff66",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Zeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2050,
        "y": 1240,
        "wires": []
    },
    {
        "id": "83f20980dbb07c46",
        "type": "moment",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MM YYYY",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 1640,
        "y": 1240,
        "wires": [
            [
                "1cd1e3af358f8a97"
            ]
        ]
    },
    {
        "id": "1cd1e3af358f8a97",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 15",
        "func": "msg = {payload: \"seit \" + msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 1240,
        "wires": [
            [
                "f80e390f6e61015f"
            ]
        ]
    },
    {
        "id": "5d1ec0ca58943844",
        "type": "ping",
        "z": "afffb92e3a0b1e68",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "",
        "host": "",
        "timer": "1",
        "inputs": 1,
        "x": 670,
        "y": 380,
        "wires": [
            [
                "07849066a6e130e9"
            ]
        ]
    },
    {
        "id": "07849066a6e130e9",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "internet",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 380,
        "wires": [
            [
                "496f6e0bf7fd1eab",
                "5355180f2d94c1b5",
                "66c015663bdac1d5"
            ]
        ]
    },
    {
        "id": "6d35c43f8d232cea",
        "type": "ping",
        "z": "afffb92e3a0b1e68",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "",
        "host": "",
        "timer": "1",
        "inputs": 1,
        "x": 670,
        "y": 460,
        "wires": [
            [
                "0cbed80eb704433a"
            ]
        ]
    },
    {
        "id": "0cbed80eb704433a",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "siptrunk",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 460,
        "wires": [
            [
                "bf5089ed156f2187",
                "2bac28102593fc20",
                "98ae709b5a5d3799"
            ]
        ]
    },
    {
        "id": "0270b8fd1d95ea27",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 1,
        "width": 9,
        "height": 9,
        "label": "PING {{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0000ff",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1640,
        "y": 300,
        "wires": [
            [
                "e604f7e2e42f9b46"
            ]
        ]
    },
    {
        "id": "f77f039a78d7a13f",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 3,
        "width": 9,
        "height": 9,
        "label": "PING {{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0000ff",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1640,
        "y": 220,
        "wires": [
            [
                "3e510f5df3415583"
            ]
        ]
    },
    {
        "id": "2d4ece017f7a61b1",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 2,
        "width": 9,
        "height": 9,
        "label": "PING {{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0000ff",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1640,
        "y": 140,
        "wires": [
            [
                "c4b18fdaf06005d9"
            ]
        ]
    },
    {
        "id": "7692b963cd56c9e3",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 15,
        "width": 9,
        "height": 9,
        "label": "PING {{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1640,
        "y": 460,
        "wires": [
            [
                "d1af2c5973cb8a40"
            ]
        ]
    },
    {
        "id": "a4fe11a460c3be10",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 14,
        "width": 9,
        "height": 9,
        "label": "PING {{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1650,
        "y": 380,
        "wires": [
            [
                "a66463ef4b3e98cd"
            ]
        ]
    },
    {
        "id": "6ea071dcf51ddd18",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1220,
        "y": 1420,
        "wires": [
            [
                "e3dd5e77c5cfbb41"
            ]
        ]
    },
    {
        "id": "4d1d5dc28b383405",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 890,
        "y": 1320,
        "wires": [
            [
                "80e7eefd4627839b"
            ]
        ]
    },
    {
        "id": "e5201532d41496f0",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1100,
        "wires": []
    },
    {
        "id": "08644906c74df774",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "7",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 210,
        "y": 1040,
        "wires": [
            [
                "7187bce1574ae151",
                "2bab9fceb0a75a5c",
                "56b92df64b4e6a2d"
            ]
        ]
    },
    {
        "id": "4ad8171004f160ec",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pingfails",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 940,
        "wires": [
            [
                "08644906c74df774",
                "641b7e2b19e7bafb"
            ]
        ]
    },
    {
        "id": "67fd4e1dad482a12",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ping1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 80,
        "wires": [
            [
                "63cc5bf2ac4352eb"
            ]
        ]
    },
    {
        "id": "cd2661dc7601a41b",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ping2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 160,
        "wires": [
            [
                "1b2aefec85a9be76"
            ]
        ]
    },
    {
        "id": "96b7e79bde16d3ca",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ping3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 240,
        "wires": [
            [
                "70303635e4790997"
            ]
        ]
    },
    {
        "id": "9f7913a94a92216f",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ping4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 320,
        "wires": [
            [
                "b2a40e64f7f64f16"
            ]
        ]
    },
    {
        "id": "496f6e0bf7fd1eab",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ping5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 400,
        "wires": [
            [
                "cbecfbe4de9a8064"
            ]
        ]
    },
    {
        "id": "bf5089ed156f2187",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ping6",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 480,
        "wires": [
            [
                "9a37fd061222fa8b"
            ]
        ]
    },
    {
        "id": "54877c59829933e5",
        "type": "ui_chart",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "group": "483df96dc212c8cf",
        "order": 13,
        "width": 9,
        "height": 9,
        "label": "PING {{msg.topic}}",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Warte auf Daten",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#00ff11",
            "#001eff",
            "#0affff",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1640,
        "y": 60,
        "wires": [
            [
                "63618cd18ae66153"
            ]
        ]
    },
    {
        "id": "86d8c4129a33bfea",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "topic for pingfails join",
        "links": [
            "63cc5bf2ac4352eb",
            "1b2aefec85a9be76",
            "70303635e4790997",
            "b2a40e64f7f64f16",
            "cbecfbe4de9a8064",
            "9a37fd061222fa8b"
        ],
        "x": 95,
        "y": 1040,
        "wires": [
            [
                "08644906c74df774"
            ]
        ]
    },
    {
        "id": "63cc5bf2ac4352eb",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "86d8c4129a33bfea"
        ],
        "x": 1465,
        "y": 80,
        "wires": []
    },
    {
        "id": "68043402d0f077fd",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "Up/Down 24h",
        "links": [
            "3d1cf028c7d74a6b",
            "4ea5c55b3c54b452",
            "20809209c235178e",
            "b7f0db244d32b998",
            "0777e958e67c904d",
            "51cfdd6843731677"
        ],
        "x": 2635,
        "y": 640,
        "wires": [
            [
                "bb3eb0043b9d7d53"
            ]
        ]
    },
    {
        "id": "9fe6fc4652976781",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "Up/Down 7d",
        "links": [
            "e3dd5e77c5cfbb41",
            "94e609c132ab7cb6",
            "be7adc37ad636b33",
            "0b70baa799471b39",
            "19518550ad447e33",
            "699daa67962de50b"
        ],
        "x": 2635,
        "y": 720,
        "wires": [
            [
                "78a1f4df1bd08052"
            ]
        ]
    },
    {
        "id": "3d1cf028c7d74a6b",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 24h",
        "mode": "link",
        "links": [
            "68043402d0f077fd"
        ],
        "x": 1365,
        "y": 1380,
        "wires": []
    },
    {
        "id": "e3dd5e77c5cfbb41",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 7d",
        "mode": "link",
        "links": [
            "9fe6fc4652976781"
        ],
        "x": 1365,
        "y": 1420,
        "wires": []
    },
    {
        "id": "e672a601bd5aa4fc",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "Ping failed write",
        "links": [
            "82c779c62741605f",
            "8c9260555a849cd7",
            "606273e3bddb11a0",
            "eb75dea60aeb7a51",
            "ad3fe1e00b95d964",
            "5613531cc4fe8fec"
        ],
        "x": 2635,
        "y": 860,
        "wires": [
            [
                "6f946fb07d396c73"
            ]
        ]
    },
    {
        "id": "82c779c62741605f",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out ping failed write",
        "mode": "link",
        "links": [
            "e672a601bd5aa4fc"
        ],
        "x": 2075,
        "y": 1340,
        "wires": []
    },
    {
        "id": "5590b164cb8f18dc",
        "type": "comment",
        "z": "afffb92e3a0b1e68",
        "name": "Ziel IP Adresse hier eintragen",
        "info": "",
        "x": 420,
        "y": 20,
        "wires": []
    },
    {
        "id": "8186818397db3d87",
        "type": "comment",
        "z": "afffb92e3a0b1e68",
        "name": "Hostname hier eintragen",
        "info": "",
        "x": 890,
        "y": 20,
        "wires": []
    },
    {
        "id": "cfe139e81ea94f80",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "79c52b1cf523dccc"
            ]
        ]
    },
    {
        "id": "2a784e2e9f845a2d",
        "type": "comment",
        "z": "afffb92e3a0b1e68",
        "name": "Alle Ausfallszähler resetten",
        "info": "",
        "x": 110,
        "y": 20,
        "wires": []
    },
    {
        "id": "79c52b1cf523dccc",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Ausfallszähler reset Zeit",
        "mode": "link",
        "links": [
            "1bf2b8107cb6448f",
            "113338c768c103a2",
            "421bd353562b9acb",
            "10813a3ea3fe5fa9",
            "dc0a1ed4802c67df",
            "ab7de9020e8ef873",
            "1fb50edaa735593a"
        ],
        "x": 195,
        "y": 60,
        "wires": []
    },
    {
        "id": "1bf2b8107cb6448f",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset",
        "links": [
            "79c52b1cf523dccc"
        ],
        "x": 945,
        "y": 1140,
        "wires": [
            [
                "8fbb885cbdbfe8f2",
                "83f20980dbb07c46"
            ]
        ]
    },
    {
        "id": "712e5ab3a27214d2",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "3659caf389c34270"
            ]
        ]
    },
    {
        "id": "3659caf389c34270",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Ausfallszähler reset to 0",
        "mode": "link",
        "links": [
            "45bc92e50c6ba5df",
            "ecbf995b3173bf29",
            "85143af580fe3a2d",
            "9cb4c09ca8f9fb1a",
            "96a852e4675eaaa8",
            "64b97d6577e34469"
        ],
        "x": 195,
        "y": 100,
        "wires": []
    },
    {
        "id": "45bc92e50c6ba5df",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset to 0",
        "links": [
            "3659caf389c34270"
        ],
        "x": 855,
        "y": 1360,
        "wires": [
            [
                "80e7eefd4627839b"
            ]
        ]
    },
    {
        "id": "d9a78531cd6e9ac5",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "239e5f15e789b994"
            ]
        ]
    },
    {
        "id": "20677a083bfa408b",
        "type": "comment",
        "z": "afffb92e3a0b1e68",
        "name": "Alle Graphe resetten (Dashboard)",
        "info": "",
        "x": 150,
        "y": 160,
        "wires": []
    },
    {
        "id": "9e7896895bb448d7",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Chart reset",
        "mode": "link",
        "links": [
            "2e276df76ab88b31",
            "e851bf075e92468d",
            "4ae5465506a6b7b7",
            "6501d843733f3db4",
            "4ef4c0ddbbb56474",
            "3c668e7293b75872",
            "c1ac1986368bf9af",
            "a56cd0644b3adb7d"
        ],
        "x": 255,
        "y": 240,
        "wires": []
    },
    {
        "id": "2e276df76ab88b31",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 1565,
        "y": 40,
        "wires": [
            [
                "54877c59829933e5"
            ]
        ]
    },
    {
        "id": "e851bf075e92468d",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 1565,
        "y": 120,
        "wires": [
            [
                "2d4ece017f7a61b1"
            ]
        ]
    },
    {
        "id": "4ae5465506a6b7b7",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 1565,
        "y": 200,
        "wires": [
            [
                "f77f039a78d7a13f"
            ]
        ]
    },
    {
        "id": "6501d843733f3db4",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 1565,
        "y": 280,
        "wires": [
            [
                "0270b8fd1d95ea27"
            ]
        ]
    },
    {
        "id": "4ef4c0ddbbb56474",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 1575,
        "y": 360,
        "wires": [
            [
                "a4fe11a460c3be10"
            ]
        ]
    },
    {
        "id": "3c668e7293b75872",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 1565,
        "y": 440,
        "wires": [
            [
                "7692b963cd56c9e3"
            ]
        ]
    },
    {
        "id": "239e5f15e789b994",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "9e7896895bb448d7"
            ]
        ]
    },
    {
        "id": "5cf3fba3a2414406",
        "type": "comment",
        "z": "afffb92e3a0b1e68",
        "name": "Alles einmal schicken",
        "info": "",
        "x": 120,
        "y": 300,
        "wires": []
    },
    {
        "id": "b2fcdc22d01a3d68",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Alles einmal schicken",
        "mode": "link",
        "links": [
            "04e98ccb2c709501",
            "b006feee84a254ab",
            "abb97245f5ba5b5e",
            "a37cf320c17bbdad",
            "fe85527a0e0a3528",
            "f10e8a8389f09624"
        ],
        "x": 195,
        "y": 340,
        "wires": []
    },
    {
        "id": "04e98ccb2c709501",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "alles einmal schicken",
        "links": [
            "b2fcdc22d01a3d68"
        ],
        "x": 585,
        "y": 60,
        "wires": [
            [
                "5529a715ce6ddc73"
            ]
        ]
    },
    {
        "id": "b006feee84a254ab",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "alles einmal schicken",
        "links": [
            "b2fcdc22d01a3d68"
        ],
        "x": 585,
        "y": 140,
        "wires": [
            [
                "2d509a36f4c99f90"
            ]
        ]
    },
    {
        "id": "abb97245f5ba5b5e",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "alles einmal schicken",
        "links": [
            "b2fcdc22d01a3d68"
        ],
        "x": 585,
        "y": 220,
        "wires": [
            [
                "cc9b3ebf0d3a94ca"
            ]
        ]
    },
    {
        "id": "a37cf320c17bbdad",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "alles einmal schicken",
        "links": [
            "b2fcdc22d01a3d68"
        ],
        "x": 585,
        "y": 300,
        "wires": [
            [
                "3bcb26cb0fd8a12f"
            ]
        ]
    },
    {
        "id": "fe85527a0e0a3528",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "alles einmal schicken",
        "links": [
            "b2fcdc22d01a3d68"
        ],
        "x": 585,
        "y": 380,
        "wires": [
            [
                "5d1ec0ca58943844"
            ]
        ]
    },
    {
        "id": "f10e8a8389f09624",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "alles einmal schicken",
        "links": [
            "b2fcdc22d01a3d68"
        ],
        "x": 585,
        "y": 460,
        "wires": [
            [
                "6d35c43f8d232cea"
            ]
        ]
    },
    {
        "id": "3f3b1009fdff542f",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "b2fcdc22d01a3d68"
            ]
        ]
    },
    {
        "id": "c1ac1986368bf9af",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 2635,
        "y": 600,
        "wires": [
            [
                "bb3eb0043b9d7d53"
            ]
        ]
    },
    {
        "id": "a56cd0644b3adb7d",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "chart reset",
        "links": [
            "9e7896895bb448d7"
        ],
        "x": 2635,
        "y": 680,
        "wires": [
            [
                "78a1f4df1bd08052"
            ]
        ]
    },
    {
        "id": "641b7e2b19e7bafb",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 960,
        "wires": []
    },
    {
        "id": "1a45737c717d7d62",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 60,
        "wires": [
            [
                "54877c59829933e5"
            ]
        ]
    },
    {
        "id": "c15a45d23dc4c291",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 140,
        "wires": [
            [
                "2d4ece017f7a61b1"
            ]
        ]
    },
    {
        "id": "23a5172862c929f9",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 220,
        "wires": [
            [
                "f77f039a78d7a13f"
            ]
        ]
    },
    {
        "id": "bc5a6f0629e12aa9",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 300,
        "wires": [
            [
                "0270b8fd1d95ea27"
            ]
        ]
    },
    {
        "id": "5355180f2d94c1b5",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 380,
        "wires": [
            [
                "a4fe11a460c3be10"
            ]
        ]
    },
    {
        "id": "2bac28102593fc20",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 460,
        "wires": [
            [
                "7692b963cd56c9e3"
            ]
        ]
    },
    {
        "id": "e606a283f7edd37f",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "24h/Charts",
        "props": [
            {
                "p": "save",
                "v": "true",
                "vt": "str"
            },
            {
                "p": "send",
                "v": "hallo",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "8f5d1a6663e8ef41"
            ]
        ]
    },
    {
        "id": "9965215aab2cad64",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2440,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d1af2c5973cb8a40",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 1870,
        "y": 460,
        "wires": [
            [
                "c3b3523bc36fc0fb"
            ]
        ]
    },
    {
        "id": "7a2a96c24e18c2eb",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \"){\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 460,
        "wires": [
            [
                "9965215aab2cad64"
            ]
        ]
    },
    {
        "id": "2278698f44ed2182",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2170,
        "y": 460,
        "wires": [
            [
                "7a2a96c24e18c2eb"
            ]
        ]
    },
    {
        "id": "c3b3523bc36fc0fb",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 460,
        "wires": [
            [
                "2278698f44ed2182"
            ]
        ]
    },
    {
        "id": "693796a14ee76808",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2420,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a66463ef4b3e98cd",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 1850,
        "y": 380,
        "wires": [
            [
                "f5655cca312e6f41"
            ]
        ]
    },
    {
        "id": "49edee4a30d05316",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \") {\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 380,
        "wires": [
            [
                "693796a14ee76808"
            ]
        ]
    },
    {
        "id": "25f450d598f5e7c9",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2150,
        "y": 380,
        "wires": [
            [
                "49edee4a30d05316"
            ]
        ]
    },
    {
        "id": "f5655cca312e6f41",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2000,
        "y": 380,
        "wires": [
            [
                "25f450d598f5e7c9"
            ]
        ]
    },
    {
        "id": "d307c12483621990",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2440,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e604f7e2e42f9b46",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 1870,
        "y": 300,
        "wires": [
            [
                "de48f0a761e9ab18"
            ]
        ]
    },
    {
        "id": "c2ab5f888bf64883",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \") {\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 300,
        "wires": [
            [
                "d307c12483621990"
            ]
        ]
    },
    {
        "id": "91d9733ba9aeabbf",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2170,
        "y": 300,
        "wires": [
            [
                "c2ab5f888bf64883"
            ]
        ]
    },
    {
        "id": "de48f0a761e9ab18",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 300,
        "wires": [
            [
                "91d9733ba9aeabbf"
            ]
        ]
    },
    {
        "id": "7063a329a7a8f83d",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2440,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3e510f5df3415583",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 1870,
        "y": 220,
        "wires": [
            [
                "5911aea4ca4a3308"
            ]
        ]
    },
    {
        "id": "a2d8cf4529cbb2ee",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \"){\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 220,
        "wires": [
            [
                "7063a329a7a8f83d"
            ]
        ]
    },
    {
        "id": "714e6e920a274928",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2170,
        "y": 220,
        "wires": [
            [
                "a2d8cf4529cbb2ee"
            ]
        ]
    },
    {
        "id": "5911aea4ca4a3308",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 220,
        "wires": [
            [
                "714e6e920a274928"
            ]
        ]
    },
    {
        "id": "43b3c54001408836",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2440,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "c4b18fdaf06005d9",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 1870,
        "y": 140,
        "wires": [
            [
                "25d656ce13c79156"
            ]
        ]
    },
    {
        "id": "5ba95996a0e29177",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \"){\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 140,
        "wires": [
            [
                "43b3c54001408836"
            ]
        ]
    },
    {
        "id": "d3b00b70203015d3",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2170,
        "y": 140,
        "wires": [
            [
                "5ba95996a0e29177"
            ]
        ]
    },
    {
        "id": "25d656ce13c79156",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 140,
        "wires": [
            [
                "d3b00b70203015d3"
            ]
        ]
    },
    {
        "id": "20ee9c02f27505e8",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 2440,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "63618cd18ae66153",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 1870,
        "y": 60,
        "wires": [
            [
                "0d26c8e43a7b6987"
            ]
        ]
    },
    {
        "id": "4772f0814a844969",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \"){\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 60,
        "wires": [
            [
                "20ee9c02f27505e8"
            ]
        ]
    },
    {
        "id": "c53eeb9102b713d2",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2170,
        "y": 60,
        "wires": [
            [
                "4772f0814a844969"
            ]
        ]
    },
    {
        "id": "0d26c8e43a7b6987",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 60,
        "wires": [
            [
                "c53eeb9102b713d2"
            ]
        ]
    },
    {
        "id": "46e4a29c781715dd",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "header",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1280,
        "wires": [
            [
                "d1b63bd881fd3f60"
            ]
        ]
    },
    {
        "id": "7bfbf06c6afa0803",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 3660,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "5ecc0cc08fe0bdac",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 3090,
        "y": 620,
        "wires": [
            [
                "10dd1d65995a3109"
            ]
        ]
    },
    {
        "id": "f7c82e66ad7c353e",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \"){\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3520,
        "y": 620,
        "wires": [
            [
                "7bfbf06c6afa0803"
            ]
        ]
    },
    {
        "id": "c6b5ff4aaf636b4f",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 3390,
        "y": 620,
        "wires": [
            [
                "f7c82e66ad7c353e"
            ]
        ]
    },
    {
        "id": "10dd1d65995a3109",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3240,
        "y": 620,
        "wires": [
            [
                "c6b5ff4aaf636b4f"
            ]
        ]
    },
    {
        "id": "c14e1c585cb8e15a",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "filename": "topic",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 3660,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "c88cead4da17472e",
        "type": "json",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "x": 3090,
        "y": 700,
        "wires": [
            [
                "4c760e9571aaeff8"
            ]
        ]
    },
    {
        "id": "5560493a076eb8f6",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "if (msg.topic != \" \") {\n    if (msg.save === \"true\") {\n        msg.payload = msg.payload.pingdata;\n        msg.topic = \"/var/www/html/monitoring/pings/\" + msg.topic + \".log\"\n        return msg;\n    }\n    else {\n        return null;\n    }\n} else {\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3520,
        "y": 700,
        "wires": [
            [
                "c14e1c585cb8e15a"
            ]
        ]
    },
    {
        "id": "5a4bdc24d0303b75",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "send",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 3390,
        "y": 700,
        "wires": [
            [
                "5560493a076eb8f6"
            ]
        ]
    },
    {
        "id": "4c760e9571aaeff8",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send",
                "pt": "msg",
                "to": "pingdata",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3240,
        "y": 700,
        "wires": [
            [
                "5a4bdc24d0303b75"
            ]
        ]
    },
    {
        "id": "56cc4d77648dd94e",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "24h",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2940,
        "y": 620,
        "wires": [
            [
                "5ecc0cc08fe0bdac"
            ]
        ]
    },
    {
        "id": "12078a8229d8fd2e",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "7d",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2940,
        "y": 700,
        "wires": [
            [
                "c88cead4da17472e"
            ]
        ]
    },
    {
        "id": "e69a1b700681d8f2",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "googledns",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 60,
        "wires": [
            [
                "8f25de0627840d10",
                "67fd4e1dad482a12",
                "1a45737c717d7d62"
            ]
        ]
    },
    {
        "id": "23cce3d8fef33533",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "8.8.8.8",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8.8.8.8",
        "payloadType": "str",
        "x": 420,
        "y": 60,
        "wires": [
            [
                "5529a715ce6ddc73",
                "2d317c9fdfba3806"
            ]
        ]
    },
    {
        "id": "2d317c9fdfba3806",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ipaddr",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ipaddr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 100,
        "wires": [
            [
                "66a98ece8e673ba3"
            ]
        ]
    },
    {
        "id": "2ef5a230896adf40",
        "type": "ui_numeric",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "506be1239e6dff66",
        "order": 1,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "num",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 2100,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "66a98ece8e673ba3",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1810,
        "y": 1320,
        "wires": [
            [
                "1c3e35f9de69bcb5"
            ]
        ]
    },
    {
        "id": "1c3e35f9de69bcb5",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 23",
        "func": "var topic = msg.topic;\nvar ipaddr = msg.payload.ipaddr;\nvar hostname = msg.hostname;\n\nvar value = null;\nfor (let num in msg.payload) {\n    if (typeof msg.payload[num] === \"number\") {\n        value = msg.payload[num];\n        break;\n    }\n}\n\nmsg = { payload: value, topic: hostname + \" \" + ipaddr };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 1300,
        "wires": [
            [
                "2ef5a230896adf40",
                "82c779c62741605f"
            ]
        ]
    },
    {
        "id": "3c5568b60a720dad",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 1",
        "func": "var pl;\nvar tp;\n\nif (msg.payload != false) {\n    pl = true;\n} else {\n   pl = false;\n}\n\nif (msg.topic != \" \") {\n   tp = msg.topic;\n} else {\n    tp = \"Unknown\";\n}\nmsg = {payload: pl, topic: tp};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1700,
        "wires": [
            [
                "72fbc342f6ef1d76",
                "e85ef15b702ebfe5",
                "9a5d43d6aa145c64"
            ]
        ]
    },
    {
        "id": "e85ef15b702ebfe5",
        "type": "ui_switch",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "ed11dac3712eba25",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-2x fa-circle",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-2x fa-circle",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1070,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "72fbc342f6ef1d76",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "BOOL to Num",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1800,
        "wires": [
            [
                "2e29c4c71a8e4cd9",
                "d7c397faa2231254"
            ]
        ]
    },
    {
        "id": "7db0c2c2559497fb",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 2",
        "func": "var msg1;\nvar reset = msg.payload.reset;\nvar trigger = msg.payload.trigger;\nvar topic = msg.header;\nvar count = msg.payload.num;\nvar device = msg.payload[topic];\nif (reset == true) {\n    msg = {payload: 0};\n    msg1 = {payload: false, topic: 'trigger'};\n} else {\n    if (device == false && trigger == false) {\n        msg = {payload: count + 1};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else if (device == false && trigger == true) {\n        msg = {payload: count};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else {\n        msg = {payload: count}; \n        msg1 = {payload: false, topic: 'trigger'};\n    }\n}\nmsg = { payload: msg.payload, topic: topic, hostname: topic, value: count};\n\nreturn [msg,msg1];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1740,
        "wires": [
            [
                "972079a29bb99ab8",
                "3f1b040a4cc93a78"
            ],
            [
                "ccb192c249546509"
            ]
        ]
    },
    {
        "id": "ccb192c249546509",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1450,
        "y": 1740,
        "wires": [
            [
                "7db0c2c2559497fb"
            ]
        ]
    },
    {
        "id": "2e29c4c71a8e4cd9",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1210,
        "y": 1800,
        "wires": [
            [
                "4ea5c55b3c54b452"
            ]
        ]
    },
    {
        "id": "972079a29bb99ab8",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "num",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1740,
        "wires": [
            [
                "ccb192c249546509"
            ]
        ]
    },
    {
        "id": "37c5cacd8ba5c713",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 910,
        "y": 1600,
        "wires": [
            [
                "56412aede681cc5b",
                "097976276cf0e910"
            ]
        ]
    },
    {
        "id": "56412aede681cc5b",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 1600,
        "wires": [
            [
                "036921b0233201df"
            ]
        ]
    },
    {
        "id": "5408bc45f7ef45ae",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 1600,
        "wires": [
            [
                "ccb192c249546509"
            ]
        ]
    },
    {
        "id": "aca54d64a5579804",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1330,
        "y": 1560,
        "wires": [
            [
                "036921b0233201df"
            ]
        ]
    },
    {
        "id": "036921b0233201df",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1300,
        "y": 1600,
        "wires": [
            [
                "5408bc45f7ef45ae"
            ]
        ]
    },
    {
        "id": "d0d58a7432c44428",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 1290,
        "y": 1680,
        "wires": [
            [
                "ccb192c249546509"
            ]
        ]
    },
    {
        "id": "650864a058d99eec",
        "type": "ui_text",
        "z": "afffb92e3a0b1e68",
        "group": "506be1239e6dff66",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Zeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2050,
        "y": 1660,
        "wires": []
    },
    {
        "id": "097976276cf0e910",
        "type": "moment",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MM YYYY",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 1640,
        "y": 1660,
        "wires": [
            [
                "995c8a5ae25b1ca2"
            ]
        ]
    },
    {
        "id": "995c8a5ae25b1ca2",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 3",
        "func": "msg = {payload: \"seit \" + msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 1660,
        "wires": [
            [
                "650864a058d99eec"
            ]
        ]
    },
    {
        "id": "d7c397faa2231254",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1220,
        "y": 1840,
        "wires": [
            [
                "94e609c132ab7cb6"
            ]
        ]
    },
    {
        "id": "b53792dd131acb87",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 890,
        "y": 1740,
        "wires": [
            [
                "972079a29bb99ab8"
            ]
        ]
    },
    {
        "id": "4ea5c55b3c54b452",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 24h",
        "mode": "link",
        "links": [
            "68043402d0f077fd"
        ],
        "x": 1365,
        "y": 1800,
        "wires": []
    },
    {
        "id": "94e609c132ab7cb6",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 7d",
        "mode": "link",
        "links": [
            "9fe6fc4652976781"
        ],
        "x": 1365,
        "y": 1840,
        "wires": []
    },
    {
        "id": "8c9260555a849cd7",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out ping failed write",
        "mode": "link",
        "links": [
            "e672a601bd5aa4fc"
        ],
        "x": 2075,
        "y": 1760,
        "wires": []
    },
    {
        "id": "113338c768c103a2",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset",
        "links": [
            "79c52b1cf523dccc"
        ],
        "x": 945,
        "y": 1560,
        "wires": [
            [
                "56412aede681cc5b",
                "097976276cf0e910"
            ]
        ]
    },
    {
        "id": "ecbf995b3173bf29",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset to 0",
        "links": [
            "3659caf389c34270"
        ],
        "x": 855,
        "y": 1780,
        "wires": [
            [
                "972079a29bb99ab8"
            ]
        ]
    },
    {
        "id": "9a5d43d6aa145c64",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "header",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1700,
        "wires": [
            [
                "ccb192c249546509"
            ]
        ]
    },
    {
        "id": "e9ad65ba8d7fb80c",
        "type": "ui_numeric",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "506be1239e6dff66",
        "order": 1,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "num",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 2100,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "3f1b040a4cc93a78",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1810,
        "y": 1740,
        "wires": [
            [
                "20220140c10a1e22"
            ]
        ]
    },
    {
        "id": "20220140c10a1e22",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 4",
        "func": "var topic = msg.topic;\nvar ipaddr = msg.payload.ipaddr;\nvar hostname = msg.hostname;\n\nvar value = null;\nfor (let num in msg.payload) {\n    if (typeof msg.payload[num] === \"number\") {\n        value = msg.payload[num];\n        break;\n    }\n}\n\nmsg = { payload: value, topic: hostname + \" \" + ipaddr };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 1720,
        "wires": [
            [
                "e9ad65ba8d7fb80c",
                "8c9260555a849cd7"
            ]
        ]
    },
    {
        "id": "ef5f91fcf468e799",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ipaddr",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ipaddr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "3f1b040a4cc93a78"
            ]
        ]
    },
    {
        "id": "73df34bb6ba3c242",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "192.168.1.1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "192.168.1.1",
        "payloadType": "str",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "2d509a36f4c99f90",
                "ef5f91fcf468e799"
            ]
        ]
    },
    {
        "id": "d03c3b6c1efed438",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 6",
        "func": "var pl;\nvar tp;\n\nif (msg.payload != false) {\n    pl = true;\n} else {\n   pl = false;\n}\n\nif (msg.topic != \" \") {\n   tp = msg.topic;\n} else {\n    tp = \"Unknown\";\n}\nmsg = {payload: pl, topic: tp};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 2120,
        "wires": [
            [
                "fca48985ccd06a4d",
                "2c6882695cfa8314",
                "fce10587ea244cd8"
            ]
        ]
    },
    {
        "id": "2c6882695cfa8314",
        "type": "ui_switch",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "ed11dac3712eba25",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-2x fa-circle",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-2x fa-circle",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1070,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "fca48985ccd06a4d",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "BOOL to Num",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 2220,
        "wires": [
            [
                "cb9d37d1df0b2974",
                "41a68e4c84956425"
            ]
        ]
    },
    {
        "id": "fc5983d00f4fb9ad",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 7",
        "func": "var msg1;\nvar reset = msg.payload.reset;\nvar trigger = msg.payload.trigger;\nvar topic = msg.header;\nvar count = msg.payload.num;\nvar device = msg.payload[topic];\nif (reset == true) {\n    msg = {payload: 0};\n    msg1 = {payload: false, topic: 'trigger'};\n} else {\n    if (device == false && trigger == false) {\n        msg = {payload: count + 1};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else if (device == false && trigger == true) {\n        msg = {payload: count};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else {\n        msg = {payload: count}; \n        msg1 = {payload: false, topic: 'trigger'};\n    }\n}\nmsg = { payload: msg.payload, topic: topic, hostname: topic, value: count};\n\nreturn [msg,msg1];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 2160,
        "wires": [
            [
                "cab0accac0f815de",
                "582357c6d65b8d97"
            ],
            [
                "9205df5bbf1e7fd0"
            ]
        ]
    },
    {
        "id": "9205df5bbf1e7fd0",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1450,
        "y": 2160,
        "wires": [
            [
                "fc5983d00f4fb9ad"
            ]
        ]
    },
    {
        "id": "cb9d37d1df0b2974",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1210,
        "y": 2220,
        "wires": [
            [
                "20809209c235178e"
            ]
        ]
    },
    {
        "id": "cab0accac0f815de",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "num",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 2160,
        "wires": [
            [
                "9205df5bbf1e7fd0"
            ]
        ]
    },
    {
        "id": "6008d95552f03bbc",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 910,
        "y": 2020,
        "wires": [
            [
                "1127a03d53865f1a",
                "88b2ea79a5324c43"
            ]
        ]
    },
    {
        "id": "1127a03d53865f1a",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 2020,
        "wires": [
            [
                "f83d3e02209b4acf"
            ]
        ]
    },
    {
        "id": "a7ada75fad060ca1",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 2020,
        "wires": [
            [
                "9205df5bbf1e7fd0"
            ]
        ]
    },
    {
        "id": "dba6e27aaafdec71",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1330,
        "y": 1980,
        "wires": [
            [
                "f83d3e02209b4acf"
            ]
        ]
    },
    {
        "id": "f83d3e02209b4acf",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1300,
        "y": 2020,
        "wires": [
            [
                "a7ada75fad060ca1"
            ]
        ]
    },
    {
        "id": "434bb8301b941aa2",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 1290,
        "y": 2100,
        "wires": [
            [
                "9205df5bbf1e7fd0"
            ]
        ]
    },
    {
        "id": "882430dcfc8d5231",
        "type": "ui_text",
        "z": "afffb92e3a0b1e68",
        "group": "506be1239e6dff66",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Zeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2050,
        "y": 2080,
        "wires": []
    },
    {
        "id": "88b2ea79a5324c43",
        "type": "moment",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MM YYYY",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 1640,
        "y": 2080,
        "wires": [
            [
                "54098f763333c1a5"
            ]
        ]
    },
    {
        "id": "54098f763333c1a5",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 8",
        "func": "msg = {payload: \"seit \" + msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 2080,
        "wires": [
            [
                "882430dcfc8d5231"
            ]
        ]
    },
    {
        "id": "41a68e4c84956425",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1220,
        "y": 2260,
        "wires": [
            [
                "be7adc37ad636b33"
            ]
        ]
    },
    {
        "id": "ded374aeab863a4f",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 890,
        "y": 2160,
        "wires": [
            [
                "cab0accac0f815de"
            ]
        ]
    },
    {
        "id": "20809209c235178e",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 24h",
        "mode": "link",
        "links": [
            "68043402d0f077fd"
        ],
        "x": 1365,
        "y": 2220,
        "wires": []
    },
    {
        "id": "be7adc37ad636b33",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 7d",
        "mode": "link",
        "links": [
            "9fe6fc4652976781"
        ],
        "x": 1365,
        "y": 2260,
        "wires": []
    },
    {
        "id": "606273e3bddb11a0",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out ping failed write",
        "mode": "link",
        "links": [
            "e672a601bd5aa4fc"
        ],
        "x": 2075,
        "y": 2180,
        "wires": []
    },
    {
        "id": "421bd353562b9acb",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset",
        "links": [
            "79c52b1cf523dccc"
        ],
        "x": 945,
        "y": 1980,
        "wires": [
            [
                "1127a03d53865f1a",
                "88b2ea79a5324c43"
            ]
        ]
    },
    {
        "id": "85143af580fe3a2d",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset to 0",
        "links": [
            "3659caf389c34270"
        ],
        "x": 855,
        "y": 2200,
        "wires": [
            [
                "cab0accac0f815de"
            ]
        ]
    },
    {
        "id": "fce10587ea244cd8",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "header",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 2120,
        "wires": [
            [
                "9205df5bbf1e7fd0"
            ]
        ]
    },
    {
        "id": "c1d01f2d46cc656f",
        "type": "ui_numeric",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "506be1239e6dff66",
        "order": 1,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "num",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 2100,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "582357c6d65b8d97",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1810,
        "y": 2160,
        "wires": [
            [
                "a896876b9e69286f"
            ]
        ]
    },
    {
        "id": "a896876b9e69286f",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 9",
        "func": "var topic = msg.topic;\nvar ipaddr = msg.payload.ipaddr;\nvar hostname = msg.hostname;\n\nvar value = null;\nfor (let num in msg.payload) {\n    if (typeof msg.payload[num] === \"number\") {\n        value = msg.payload[num];\n        break;\n    }\n}\n\nmsg = { payload: value, topic: hostname + \" \" + ipaddr };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 2140,
        "wires": [
            [
                "c1d01f2d46cc656f",
                "606273e3bddb11a0"
            ]
        ]
    },
    {
        "id": "f044e6adfc032f9c",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 10",
        "func": "var pl;\nvar tp;\n\nif (msg.payload != false) {\n    pl = true;\n} else {\n   pl = false;\n}\n\nif (msg.topic != \" \") {\n   tp = msg.topic;\n} else {\n    tp = \"Unknown\";\n}\nmsg = {payload: pl, topic: tp};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2540,
        "wires": [
            [
                "22c3e16d224ed1d3",
                "2c61b3590e08ada4",
                "11dbe685b74b2d43"
            ]
        ]
    },
    {
        "id": "2c61b3590e08ada4",
        "type": "ui_switch",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "ed11dac3712eba25",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-2x fa-circle",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-2x fa-circle",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1060,
        "y": 2480,
        "wires": [
            []
        ]
    },
    {
        "id": "22c3e16d224ed1d3",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "BOOL to Num",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 2640,
        "wires": [
            [
                "4b1d3ade95b563ee",
                "d740fbcac9a8a409"
            ]
        ]
    },
    {
        "id": "95e1a4349fb5894e",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 11",
        "func": "var msg1;\nvar reset = msg.payload.reset;\nvar trigger = msg.payload.trigger;\nvar topic = msg.header;\nvar count = msg.payload.num;\nvar device = msg.payload[topic];\nif (reset == true) {\n    msg = {payload: 0};\n    msg1 = {payload: false, topic: 'trigger'};\n} else {\n    if (device == false && trigger == false) {\n        msg = {payload: count + 1};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else if (device == false && trigger == true) {\n        msg = {payload: count};\n        msg1 = {payload: true, topic: 'trigger'};\n    } else {\n        msg = {payload: count}; \n        msg1 = {payload: false, topic: 'trigger'};\n    }\n}\nmsg = { payload: msg.payload, topic: topic, hostname: topic, value: count};\n\nreturn [msg,msg1];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 2580,
        "wires": [
            [
                "97b83fecc5af32b4",
                "c740c62d6d045959"
            ],
            [
                "db9c4c04c675dd53"
            ]
        ]
    },
    {
        "id": "db9c4c04c675dd53",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1440,
        "y": 2580,
        "wires": [
            [
                "95e1a4349fb5894e"
            ]
        ]
    },
    {
        "id": "4b1d3ade95b563ee",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1200,
        "y": 2640,
        "wires": [
            [
                "b7f0db244d32b998"
            ]
        ]
    },
    {
        "id": "97b83fecc5af32b4",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "num",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 2580,
        "wires": [
            [
                "db9c4c04c675dd53"
            ]
        ]
    },
    {
        "id": "9847fadc94cbe317",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 2440,
        "wires": [
            [
                "fc5531bd6bb57877",
                "fde61feba30713e7"
            ]
        ]
    },
    {
        "id": "fc5531bd6bb57877",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1050,
        "y": 2440,
        "wires": [
            [
                "531bc4d03fee6fcb"
            ]
        ]
    },
    {
        "id": "276ec13508d339de",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 2440,
        "wires": [
            [
                "db9c4c04c675dd53"
            ]
        ]
    },
    {
        "id": "62d75e876546f5fb",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1320,
        "y": 2400,
        "wires": [
            [
                "531bc4d03fee6fcb"
            ]
        ]
    },
    {
        "id": "531bc4d03fee6fcb",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1290,
        "y": 2440,
        "wires": [
            [
                "276ec13508d339de"
            ]
        ]
    },
    {
        "id": "1daf1d1d1fb61b74",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 1280,
        "y": 2520,
        "wires": [
            [
                "db9c4c04c675dd53"
            ]
        ]
    },
    {
        "id": "70cfd4ae83b4167d",
        "type": "ui_text",
        "z": "afffb92e3a0b1e68",
        "group": "506be1239e6dff66",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Zeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2040,
        "y": 2500,
        "wires": []
    },
    {
        "id": "fde61feba30713e7",
        "type": "moment",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MM YYYY",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 1630,
        "y": 2500,
        "wires": [
            [
                "37a087f6662b02a9"
            ]
        ]
    },
    {
        "id": "37a087f6662b02a9",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 12",
        "func": "msg = {payload: \"seit \" + msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 2500,
        "wires": [
            [
                "70cfd4ae83b4167d"
            ]
        ]
    },
    {
        "id": "d740fbcac9a8a409",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1210,
        "y": 2680,
        "wires": [
            [
                "0b70baa799471b39"
            ]
        ]
    },
    {
        "id": "9eb956d47a9ff42b",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 880,
        "y": 2580,
        "wires": [
            [
                "97b83fecc5af32b4"
            ]
        ]
    },
    {
        "id": "b7f0db244d32b998",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 24h",
        "mode": "link",
        "links": [
            "68043402d0f077fd"
        ],
        "x": 1355,
        "y": 2640,
        "wires": []
    },
    {
        "id": "0b70baa799471b39",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 7d",
        "mode": "link",
        "links": [
            "9fe6fc4652976781"
        ],
        "x": 1355,
        "y": 2680,
        "wires": []
    },
    {
        "id": "eb75dea60aeb7a51",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out ping failed write",
        "mode": "link",
        "links": [
            "e672a601bd5aa4fc"
        ],
        "x": 2065,
        "y": 2600,
        "wires": []
    },
    {
        "id": "10813a3ea3fe5fa9",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset",
        "links": [
            "79c52b1cf523dccc"
        ],
        "x": 935,
        "y": 2400,
        "wires": [
            [
                "fc5531bd6bb57877",
                "fde61feba30713e7"
            ]
        ]
    },
    {
        "id": "9cb4c09ca8f9fb1a",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset to 0",
        "links": [
            "3659caf389c34270"
        ],
        "x": 845,
        "y": 2620,
        "wires": [
            [
                "97b83fecc5af32b4"
            ]
        ]
    },
    {
        "id": "11dbe685b74b2d43",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "header",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 2540,
        "wires": [
            [
                "db9c4c04c675dd53"
            ]
        ]
    },
    {
        "id": "7d1ba1906c0e3abd",
        "type": "ui_numeric",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "506be1239e6dff66",
        "order": 1,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "num",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 2090,
        "y": 2560,
        "wires": [
            []
        ]
    },
    {
        "id": "c740c62d6d045959",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1800,
        "y": 2580,
        "wires": [
            [
                "5e0465631d674503"
            ]
        ]
    },
    {
        "id": "5e0465631d674503",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 13",
        "func": "var topic = msg.topic;\nvar ipaddr = msg.payload.ipaddr;\nvar hostname = msg.hostname;\n\nvar value = null;\nfor (let num in msg.payload) {\n    if (typeof msg.payload[num] === \"number\") {\n        value = msg.payload[num];\n        break;\n    }\n}\n\nmsg = { payload: value, topic: hostname + \" \" + ipaddr };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 2560,
        "wires": [
            [
                "7d1ba1906c0e3abd",
                "eb75dea60aeb7a51",
                "4155ffc8d97f145b"
            ]
        ]
    },
    {
        "id": "66c015663bdac1d5",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 14",
        "func": "var pl;\nvar tp;\n\nif (msg.payload != false) {\n    pl = true;\n} else {\n   pl = false;\n}\n\nif (msg.topic != \" \") {\n   tp = msg.topic;\n} else {\n    tp = \"Unknown\";\n}\nmsg = {payload: pl, topic: tp};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 2960,
        "wires": [
            [
                "24f2a56373a2fa19",
                "ebd38e47fbe56dc1",
                "f91f76c53bdd5af2"
            ]
        ]
    },
    {
        "id": "ebd38e47fbe56dc1",
        "type": "ui_switch",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "ed11dac3712eba25",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-2x fa-circle",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-2x fa-circle",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1060,
        "y": 2900,
        "wires": [
            []
        ]
    },
    {
        "id": "24f2a56373a2fa19",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "BOOL to Num",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 3060,
        "wires": [
            [
                "61f6d5bdaadfd833",
                "5a41828765d6c5ac"
            ]
        ]
    },
    {
        "id": "5939530c2c3ef4c6",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 15",
        "func": "var msg1;\nvar reset = msg.payload.reset;\nvar trigger = msg.payload.trigger;\nvar topic = msg.header;\nvar count = msg.payload.num;\nvar device = msg.payload[topic];\nif (reset == true) {\n    msg = { payload: 0 };\n    msg1 = { payload: false, topic: 'trigger' };\n} else {\n    if (device == false && trigger == false) {\n        msg = { payload: count + 1 };\n        msg1 = { payload: true, topic: 'trigger' };\n    } else if (device == false && trigger == true) {\n        msg = { payload: count };\n        msg1 = { payload: true, topic: 'trigger' };\n    } else {\n        msg = { payload: count };\n        msg1 = { payload: false, topic: 'trigger' };\n    }\n}\nmsg = { payload: msg.payload, topic: topic, hostname: topic, value: count };\n\nreturn [msg, msg1];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 3000,
        "wires": [
            [
                "4a3540880f24e263",
                "fc91bac9af01d099"
            ],
            [
                "e74c6e00ea29b484"
            ]
        ]
    },
    {
        "id": "e74c6e00ea29b484",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1440,
        "y": 3000,
        "wires": [
            [
                "5939530c2c3ef4c6"
            ]
        ]
    },
    {
        "id": "61f6d5bdaadfd833",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1200,
        "y": 3060,
        "wires": [
            [
                "0777e958e67c904d"
            ]
        ]
    },
    {
        "id": "4a3540880f24e263",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "num",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 3000,
        "wires": [
            [
                "e74c6e00ea29b484"
            ]
        ]
    },
    {
        "id": "dd6c7f89f5202903",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 2860,
        "wires": [
            [
                "d299f695c535f62c",
                "88ac3a88d601d312"
            ]
        ]
    },
    {
        "id": "d299f695c535f62c",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1050,
        "y": 2860,
        "wires": [
            [
                "9cf1109a42b8a74a"
            ]
        ]
    },
    {
        "id": "5a3fe810f09de668",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 2860,
        "wires": [
            [
                "e74c6e00ea29b484"
            ]
        ]
    },
    {
        "id": "2f6510b91070ab40",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1320,
        "y": 2820,
        "wires": [
            [
                "9cf1109a42b8a74a"
            ]
        ]
    },
    {
        "id": "9cf1109a42b8a74a",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1290,
        "y": 2860,
        "wires": [
            [
                "5a3fe810f09de668"
            ]
        ]
    },
    {
        "id": "21adf69a3a876672",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 1280,
        "y": 2940,
        "wires": [
            [
                "e74c6e00ea29b484"
            ]
        ]
    },
    {
        "id": "0c7eb5281d14c8f5",
        "type": "ui_text",
        "z": "afffb92e3a0b1e68",
        "group": "506be1239e6dff66",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Zeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2040,
        "y": 2920,
        "wires": []
    },
    {
        "id": "88ac3a88d601d312",
        "type": "moment",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MM YYYY",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 1630,
        "y": 2920,
        "wires": [
            [
                "cb0c78d4492577f6"
            ]
        ]
    },
    {
        "id": "cb0c78d4492577f6",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 16",
        "func": "msg = {payload: \"seit \" + msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 2920,
        "wires": [
            [
                "0c7eb5281d14c8f5"
            ]
        ]
    },
    {
        "id": "5a41828765d6c5ac",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1210,
        "y": 3100,
        "wires": [
            [
                "19518550ad447e33"
            ]
        ]
    },
    {
        "id": "cad91f98d8d31144",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 880,
        "y": 3000,
        "wires": [
            [
                "4a3540880f24e263"
            ]
        ]
    },
    {
        "id": "0777e958e67c904d",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 24h",
        "mode": "link",
        "links": [
            "68043402d0f077fd"
        ],
        "x": 1355,
        "y": 3060,
        "wires": []
    },
    {
        "id": "19518550ad447e33",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 7d",
        "mode": "link",
        "links": [
            "9fe6fc4652976781"
        ],
        "x": 1355,
        "y": 3100,
        "wires": []
    },
    {
        "id": "ad3fe1e00b95d964",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out ping failed write",
        "mode": "link",
        "links": [
            "e672a601bd5aa4fc"
        ],
        "x": 2065,
        "y": 3020,
        "wires": []
    },
    {
        "id": "dc0a1ed4802c67df",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset",
        "links": [
            "79c52b1cf523dccc"
        ],
        "x": 935,
        "y": 2820,
        "wires": [
            [
                "d299f695c535f62c",
                "88ac3a88d601d312"
            ]
        ]
    },
    {
        "id": "96a852e4675eaaa8",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset to 0",
        "links": [
            "3659caf389c34270"
        ],
        "x": 845,
        "y": 3040,
        "wires": [
            [
                "4a3540880f24e263"
            ]
        ]
    },
    {
        "id": "f91f76c53bdd5af2",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "header",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 2960,
        "wires": [
            [
                "e74c6e00ea29b484"
            ]
        ]
    },
    {
        "id": "f025f8e83898173f",
        "type": "ui_numeric",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "506be1239e6dff66",
        "order": 1,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "num",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 2090,
        "y": 2980,
        "wires": [
            []
        ]
    },
    {
        "id": "fc91bac9af01d099",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1800,
        "y": 3000,
        "wires": [
            [
                "b7669a3d3bcfb9d4"
            ]
        ]
    },
    {
        "id": "b7669a3d3bcfb9d4",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 17",
        "func": "var topic = msg.topic;\nvar ipaddr = msg.payload.ipaddr;\nvar hostname = msg.hostname;\n\nvar value = null;\nfor (let num in msg.payload) {\n    if (typeof msg.payload[num] === \"number\") {\n        value = msg.payload[num];\n        break;\n    }\n}\n\nmsg = { payload: value, topic: hostname + \" \" + ipaddr };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 2980,
        "wires": [
            [
                "f025f8e83898173f",
                "ad3fe1e00b95d964"
            ]
        ]
    },
    {
        "id": "98ae709b5a5d3799",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 18",
        "func": "var pl;\nvar tp;\n\nif (msg.payload != false) {\n    pl = true;\n} else {\n   pl = false;\n}\n\nif (msg.topic != \" \") {\n   tp = msg.topic;\n} else {\n    tp = \"Unknown\";\n}\nmsg = {payload: pl, topic: tp};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 3380,
        "wires": [
            [
                "992c2b9c8779ebd9",
                "cc1ba5461655f21b",
                "6b21f2f982e11fa8"
            ]
        ]
    },
    {
        "id": "cc1ba5461655f21b",
        "type": "ui_switch",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "ed11dac3712eba25",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-2x fa-circle",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-2x fa-circle",
        "offcolor": "red",
        "animate": false,
        "className": "",
        "x": 1060,
        "y": 3320,
        "wires": [
            []
        ]
    },
    {
        "id": "992c2b9c8779ebd9",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "BOOL to Num",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 3480,
        "wires": [
            [
                "ae4964f791600a09",
                "8c7cf31d252b04a9"
            ]
        ]
    },
    {
        "id": "d82348651a6ed968",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 19",
        "func": "var msg1;\nvar reset = msg.payload.reset;\nvar trigger = msg.payload.trigger;\nvar topic = msg.header;\nvar count = msg.payload.num;\nvar device = msg.payload[topic];\nif (reset == true) {\n    msg = { payload: 0 };\n    msg1 = { payload: false, topic: 'trigger' };\n} else {\n    if (device == false && trigger == false) {\n        msg = { payload: count + 1 };\n        msg1 = { payload: true, topic: 'trigger' };\n    } else if (device == false && trigger == true) {\n        msg = { payload: count };\n        msg1 = { payload: true, topic: 'trigger' };\n    } else {\n        msg = { payload: count };\n        msg1 = { payload: false, topic: 'trigger' };\n    }\n}\nmsg = { payload: msg.payload, topic: topic, hostname: topic, value: count };\n\nreturn [msg, msg1];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 3420,
        "wires": [
            [
                "35e9d8e6d9b65d0b",
                "7dce46184e66f95d"
            ],
            [
                "b8cb37d5e9ac7b40"
            ]
        ]
    },
    {
        "id": "b8cb37d5e9ac7b40",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1440,
        "y": 3420,
        "wires": [
            [
                "d82348651a6ed968"
            ]
        ]
    },
    {
        "id": "ae4964f791600a09",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1200,
        "y": 3480,
        "wires": [
            [
                "51cfdd6843731677"
            ]
        ]
    },
    {
        "id": "35e9d8e6d9b65d0b",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "num",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 3420,
        "wires": [
            [
                "b8cb37d5e9ac7b40"
            ]
        ]
    },
    {
        "id": "30a0fea1b1406d06",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 3280,
        "wires": [
            [
                "769cbdef2fc4ba55",
                "fa0459ced93d834f"
            ]
        ]
    },
    {
        "id": "769cbdef2fc4ba55",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1050,
        "y": 3280,
        "wires": [
            [
                "53a2b848f822e205"
            ]
        ]
    },
    {
        "id": "7687e593cb663fd6",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 3280,
        "wires": [
            [
                "b8cb37d5e9ac7b40"
            ]
        ]
    },
    {
        "id": "76f8144131214bba",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1320,
        "y": 3240,
        "wires": [
            [
                "53a2b848f822e205"
            ]
        ]
    },
    {
        "id": "53a2b848f822e205",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1290,
        "y": 3280,
        "wires": [
            [
                "7687e593cb663fd6"
            ]
        ]
    },
    {
        "id": "9d1e4c85d7ebf856",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "trigger",
        "payload": "false",
        "payloadType": "bool",
        "x": 1280,
        "y": 3360,
        "wires": [
            [
                "b8cb37d5e9ac7b40"
            ]
        ]
    },
    {
        "id": "18c020220b99f2ae",
        "type": "ui_text",
        "z": "afffb92e3a0b1e68",
        "group": "506be1239e6dff66",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Zeit",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2040,
        "y": 3340,
        "wires": []
    },
    {
        "id": "fa0459ced93d834f",
        "type": "moment",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MM YYYY",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 1630,
        "y": 3340,
        "wires": [
            [
                "183515d6bc41bfdc"
            ]
        ]
    },
    {
        "id": "183515d6bc41bfdc",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 20",
        "func": "msg = {payload: \"seit \" + msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 3340,
        "wires": [
            [
                "18c020220b99f2ae"
            ]
        ]
    },
    {
        "id": "8c7cf31d252b04a9",
        "type": "trigger",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1210,
        "y": 3520,
        "wires": [
            [
                "699daa67962de50b"
            ]
        ]
    },
    {
        "id": "0e883e6454e6a12a",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 880,
        "y": 3420,
        "wires": [
            [
                "35e9d8e6d9b65d0b"
            ]
        ]
    },
    {
        "id": "51cfdd6843731677",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 24h",
        "mode": "link",
        "links": [
            "68043402d0f077fd"
        ],
        "x": 1355,
        "y": 3480,
        "wires": []
    },
    {
        "id": "699daa67962de50b",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out Up/Down 7d",
        "mode": "link",
        "links": [
            "9fe6fc4652976781"
        ],
        "x": 1355,
        "y": 3520,
        "wires": []
    },
    {
        "id": "5613531cc4fe8fec",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "Out ping failed write",
        "mode": "link",
        "links": [
            "e672a601bd5aa4fc"
        ],
        "x": 2065,
        "y": 3440,
        "wires": []
    },
    {
        "id": "ab7de9020e8ef873",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset",
        "links": [
            "79c52b1cf523dccc"
        ],
        "x": 935,
        "y": 3240,
        "wires": [
            [
                "769cbdef2fc4ba55",
                "fa0459ced93d834f"
            ]
        ]
    },
    {
        "id": "64b97d6577e34469",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset to 0",
        "links": [
            "3659caf389c34270"
        ],
        "x": 845,
        "y": 3460,
        "wires": [
            [
                "35e9d8e6d9b65d0b"
            ]
        ]
    },
    {
        "id": "6b21f2f982e11fa8",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "header",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 3380,
        "wires": [
            [
                "b8cb37d5e9ac7b40"
            ]
        ]
    },
    {
        "id": "1897587e741624c9",
        "type": "ui_numeric",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "label": "{{msg.topic}}",
        "tooltip": "",
        "group": "506be1239e6dff66",
        "order": 1,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "num",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 2090,
        "y": 3400,
        "wires": [
            []
        ]
    },
    {
        "id": "7dce46184e66f95d",
        "type": "join",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1800,
        "y": 3420,
        "wires": [
            [
                "73cc07c009c0fea0"
            ]
        ]
    },
    {
        "id": "73cc07c009c0fea0",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 21",
        "func": "var topic = msg.topic;\nvar ipaddr = msg.payload.ipaddr;\nvar hostname = msg.hostname;\n\nvar value = null;\nfor (let num in msg.payload) {\n    if (typeof msg.payload[num] === \"number\") {\n        value = msg.payload[num];\n        break;\n    }\n}\n\nmsg = { payload: value, topic: hostname + \" \" + ipaddr };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 3400,
        "wires": [
            [
                "1897587e741624c9",
                "5613531cc4fe8fec"
            ]
        ]
    },
    {
        "id": "9ff50de895a0e757",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "192.168.128.15",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "192.168.128.15",
        "payloadType": "str",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "cc9b3ebf0d3a94ca",
                "0bee9a064ff00fd8"
            ]
        ]
    },
    {
        "id": "0bee9a064ff00fd8",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ipaddr",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ipaddr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "582357c6d65b8d97"
            ]
        ]
    },
    {
        "id": "cb3c2f96aaeb7ef6",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ipaddr",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ipaddr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 340,
        "wires": [
            [
                "c740c62d6d045959"
            ]
        ]
    },
    {
        "id": "fc76eb63cf16c34d",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "192.168.128.235",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "192.168.128.235",
        "payloadType": "str",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "cb3c2f96aaeb7ef6",
                "3bcb26cb0fd8a12f"
            ]
        ]
    },
    {
        "id": "aa87764fdf40aeac",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "192.168.128.235",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "46.140.85.201",
        "payloadType": "str",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "5d1ec0ca58943844",
                "f6f755b06402d870"
            ]
        ]
    },
    {
        "id": "f6f755b06402d870",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ipaddr",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ipaddr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 420,
        "wires": [
            [
                "fc91bac9af01d099"
            ]
        ]
    },
    {
        "id": "e2df3a5afc9e1eeb",
        "type": "change",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ipaddr",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ipaddr",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 500,
        "wires": [
            [
                "7dce46184e66f95d"
            ]
        ]
    },
    {
        "id": "647cc14ef967d5ec",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "212.47.182.180",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "212.47.182.180",
        "payloadType": "str",
        "x": 430,
        "y": 460,
        "wires": [
            [
                "e2df3a5afc9e1eeb",
                "6d35c43f8d232cea"
            ]
        ]
    },
    {
        "id": "e389ea744e477354",
        "type": "exec",
        "z": "afffb92e3a0b1e68",
        "command": "sudo sed -i -e \"1d\" /var/www/html/monitoring/pings/24h.log",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 3690,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ebed0f6597654a8b",
        "type": "exec",
        "z": "afffb92e3a0b1e68",
        "command": "wc -l /var/www/html/monitoring/pings/24h.log",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 3050,
        "y": 460,
        "wires": [
            [
                "a46393de18e0cec8"
            ],
            [],
            []
        ]
    },
    {
        "id": "a46393de18e0cec8",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "let str = msg.payload;\n\nlet match = str.match(/\\d+/);\n\nif (match >= 25) { \n    msg.payload = true;\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3360,
        "y": 460,
        "wires": [
            [
                "e389ea744e477354"
            ]
        ]
    },
    {
        "id": "e3b146040c001f25",
        "type": "delay",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2760,
        "y": 460,
        "wires": [
            [
                "ebed0f6597654a8b"
            ]
        ]
    },
    {
        "id": "41c518edd69ff7be",
        "type": "exec",
        "z": "afffb92e3a0b1e68",
        "command": "sudo sed -i -e \"1d\" /var/www/html/monitoring/pings/7d.log",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 3690,
        "y": 520,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "59f09989972d20d6",
        "type": "exec",
        "z": "afffb92e3a0b1e68",
        "command": "wc -l /var/www/html/monitoring/pings/7d.log",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 3050,
        "y": 520,
        "wires": [
            [
                "0a42c4bc91dec8a6"
            ],
            [],
            []
        ]
    },
    {
        "id": "0a42c4bc91dec8a6",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "func": "let str = msg.payload;\n\nlet match = str.match(/\\d+/);\n\nif (match >= 43) { \n    msg.payload = true;\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3360,
        "y": 520,
        "wires": [
            [
                "41c518edd69ff7be"
            ]
        ]
    },
    {
        "id": "cc56ecca81e7b05d",
        "type": "delay",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2760,
        "y": 520,
        "wires": [
            [
                "59f09989972d20d6"
            ]
        ]
    },
    {
        "id": "9e504759c2b4ef4a",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "7d",
        "props": [
            {
                "p": "save",
                "v": "true",
                "vt": "str"
            },
            {
                "p": "send",
                "v": "hallo",
                "vt": "str"
            }
        ],
        "repeat": "21600",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "456afd456a415ed1"
            ]
        ]
    },
    {
        "id": "8f5d1a6663e8ef41",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "save jede stunde",
        "mode": "link",
        "links": [
            "5127c54db0a095c1",
            "4e954e8e3cd77d46",
            "7cc19ef7893f978b",
            "df80bb484388bea0",
            "5ae49b848bba9995",
            "7fb645161e3f73d4",
            "e845fe4e835176ac",
            "3bd4d15a23fa9d6a"
        ],
        "x": 225,
        "y": 480,
        "wires": []
    },
    {
        "id": "5127c54db0a095c1",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "save jede stunde",
        "links": [
            "8f5d1a6663e8ef41"
        ],
        "x": 2085,
        "y": 20,
        "wires": [
            [
                "c53eeb9102b713d2"
            ]
        ]
    },
    {
        "id": "4e954e8e3cd77d46",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "save jede stunde",
        "links": [
            "8f5d1a6663e8ef41"
        ],
        "x": 2085,
        "y": 100,
        "wires": [
            [
                "d3b00b70203015d3"
            ]
        ]
    },
    {
        "id": "7cc19ef7893f978b",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "save jede stunde",
        "links": [
            "8f5d1a6663e8ef41"
        ],
        "x": 2085,
        "y": 180,
        "wires": [
            [
                "714e6e920a274928"
            ]
        ]
    },
    {
        "id": "df80bb484388bea0",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "save jede stunde",
        "links": [
            "8f5d1a6663e8ef41"
        ],
        "x": 2085,
        "y": 260,
        "wires": [
            [
                "91d9733ba9aeabbf"
            ]
        ]
    },
    {
        "id": "5ae49b848bba9995",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "save jede stunde",
        "links": [
            "8f5d1a6663e8ef41"
        ],
        "x": 2085,
        "y": 340,
        "wires": [
            [
                "25f450d598f5e7c9"
            ]
        ]
    },
    {
        "id": "7fb645161e3f73d4",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "save jede stunde",
        "links": [
            "8f5d1a6663e8ef41"
        ],
        "x": 2085,
        "y": 420,
        "wires": [
            [
                "2278698f44ed2182"
            ]
        ]
    },
    {
        "id": "e845fe4e835176ac",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "save jede stunde",
        "links": [
            "8f5d1a6663e8ef41"
        ],
        "x": 2625,
        "y": 460,
        "wires": [
            [
                "e3b146040c001f25"
            ]
        ]
    },
    {
        "id": "3bd4d15a23fa9d6a",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "save jede stunde",
        "links": [
            "8f5d1a6663e8ef41"
        ],
        "x": 3295,
        "y": 580,
        "wires": [
            [
                "c6b5ff4aaf636b4f"
            ]
        ]
    },
    {
        "id": "456afd456a415ed1",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "save alle 6h",
        "mode": "link",
        "links": [
            "788dc1558d4aef2f",
            "e82c9d4e3f0daa27"
        ],
        "x": 195,
        "y": 520,
        "wires": []
    },
    {
        "id": "788dc1558d4aef2f",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "save jede stunde",
        "links": [
            "456afd456a415ed1"
        ],
        "x": 3295,
        "y": 660,
        "wires": [
            [
                "5a4bdc24d0303b75"
            ]
        ]
    },
    {
        "id": "e82c9d4e3f0daa27",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "save jede stunde",
        "links": [
            "456afd456a415ed1"
        ],
        "x": 2625,
        "y": 520,
        "wires": [
            [
                "cc56ecca81e7b05d"
            ]
        ]
    },
    {
        "id": "a23486cb9da62924",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2920,
        "y": 760,
        "wires": []
    },
    {
        "id": "2d88986deb5eb11c",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3160,
        "y": 780,
        "wires": []
    },
    {
        "id": "49f0325e39df451e",
        "type": "comment",
        "z": "afffb92e3a0b1e68",
        "name": "Graphe ins Monitoring speichern",
        "info": "",
        "x": 150,
        "y": 440,
        "wires": []
    },
    {
        "id": "8e0ae5886b6decbe",
        "type": "moment",
        "z": "afffb92e3a0b1e68",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD.MM.YYYY",
        "locale": "C",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 2780,
        "y": 960,
        "wires": [
            [
                "bff426f0a0f3712f"
            ]
        ]
    },
    {
        "id": "bff426f0a0f3712f",
        "type": "function",
        "z": "afffb92e3a0b1e68",
        "name": "function 22",
        "func": "msg = {payload: \"seit \" + msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2990,
        "y": 960,
        "wires": [
            [
                "07ad84d6fb35d1af"
            ]
        ]
    },
    {
        "id": "07ad84d6fb35d1af",
        "type": "file",
        "z": "afffb92e3a0b1e68",
        "name": "Zeit Angabe für pingfails in Monitoring",
        "filename": "/var/www/html/monitoring/pings/seit.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3250,
        "y": 960,
        "wires": [
            [
                "7cefb001732c25be"
            ]
        ]
    },
    {
        "id": "1fb50edaa735593a",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "ausfallszähler reset",
        "links": [
            "79c52b1cf523dccc"
        ],
        "x": 2635,
        "y": 960,
        "wires": [
            [
                "8e0ae5886b6decbe"
            ]
        ]
    },
    {
        "id": "7cefb001732c25be",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 3500,
        "y": 960,
        "wires": []
    },
    {
        "id": "4155ffc8d97f145b",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 2680,
        "wires": []
    },
    {
        "id": "2d2479b2d6c13a4f",
        "type": "exec",
        "z": "afffb92e3a0b1e68",
        "command": "rm /var/www/html/monitoring/pings/*.log",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 3640,
        "y": 400,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ea30510c3cced803",
        "type": "comment",
        "z": "afffb92e3a0b1e68",
        "name": "Alle log files löschen (Monitoring Graphe)",
        "info": "",
        "x": 180,
        "y": 580,
        "wires": []
    },
    {
        "id": "1402c88ce9d917f4",
        "type": "inject",
        "z": "afffb92e3a0b1e68",
        "name": "delete *.log",
        "props": [
            {
                "p": "save",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "21600",
        "crontab": "",
        "once": false,
        "onceDelay": "30",
        "topic": "",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "d99736c47708f036"
            ]
        ]
    },
    {
        "id": "d99736c47708f036",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "rm *.log",
        "mode": "link",
        "links": [
            "e310c74278df0bf1"
        ],
        "x": 235,
        "y": 620,
        "wires": []
    },
    {
        "id": "e310c74278df0bf1",
        "type": "link in",
        "z": "afffb92e3a0b1e68",
        "name": "rm *.log",
        "links": [
            "d99736c47708f036"
        ],
        "x": 3415,
        "y": 400,
        "wires": [
            [
                "2d2479b2d6c13a4f"
            ]
        ]
    },
    {
        "id": "9c70cebf2fea4131",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 800,
        "wires": []
    },
    {
        "id": "56b92df64b4e6a2d",
        "type": "debug",
        "z": "afffb92e3a0b1e68",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 1000,
        "wires": []
    },
    {
        "id": "1b2aefec85a9be76",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "86d8c4129a33bfea"
        ],
        "x": 1465,
        "y": 160,
        "wires": []
    },
    {
        "id": "70303635e4790997",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "86d8c4129a33bfea"
        ],
        "x": 1465,
        "y": 240,
        "wires": []
    },
    {
        "id": "b2a40e64f7f64f16",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "86d8c4129a33bfea"
        ],
        "x": 1465,
        "y": 320,
        "wires": []
    },
    {
        "id": "cbecfbe4de9a8064",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "86d8c4129a33bfea"
        ],
        "x": 1465,
        "y": 400,
        "wires": []
    },
    {
        "id": "9a37fd061222fa8b",
        "type": "link out",
        "z": "afffb92e3a0b1e68",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "86d8c4129a33bfea"
        ],
        "x": 1465,
        "y": 480,
        "wires": []
    },
    {
        "id": "0beecd5413bcc399",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "4c70c6ca9812d656",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "99256784a4af2d60",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "102870adf9e05fbb",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "7fb7445e5dcba914",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "7e6e79541e3c8bdf",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "4d7668e38d07b12d",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "49ee391bc9a07ec5",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "7d405c50c1f42095",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "0f8962d0473e7ead",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "86a1f392102d7b21",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 16,
        "width": 3,
        "height": 1
    },
    {
        "id": "1d554a9ea09db5e4",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 17,
        "width": 3,
        "height": 1
    },
    {
        "id": "1a3ff2849d510509",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 18,
        "width": 3,
        "height": 1
    },
    {
        "id": "31b2119ade198417",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 19,
        "width": 3,
        "height": 1
    },
    {
        "id": "31f4454347942424",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 20,
        "width": 3,
        "height": 1
    },
    {
        "id": "b05a00fa65bfd462",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 21,
        "width": 3,
        "height": 1
    },
    {
        "id": "395a1bd22c132d69",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 22,
        "width": 3,
        "height": 1
    },
    {
        "id": "06a31979f0e6c61d",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 23,
        "width": 3,
        "height": 1
    },
    {
        "id": "88412e33fa3e3473",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 24,
        "width": 3,
        "height": 1
    },
    {
        "id": "319354a9c63a3aab",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 27,
        "width": 12,
        "height": 1
    },
    {
        "id": "a69a34ac787cb0cc",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 28,
        "width": 12,
        "height": 1
    },
    {
        "id": "5ff430e547ff75cb",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 29,
        "width": 12,
        "height": 1
    },
    {
        "id": "536467100fa376c3",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 30,
        "width": 12,
        "height": 1
    },
    {
        "id": "6fcd3943ee160d34",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 31,
        "width": 12,
        "height": 1
    },
    {
        "id": "c30570307c06e382",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 32,
        "width": 12,
        "height": 1
    },
    {
        "id": "89970f53c3bcd988",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 33,
        "width": 12,
        "height": 1
    },
    {
        "id": "c9b47b108e3d6b5b",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 34,
        "width": 12,
        "height": 1
    },
    {
        "id": "1bd349ae45be31de",
        "type": "ui_spacer",
        "z": "afffb92e3a0b1e68",
        "name": "spacer",
        "group": "483df96dc212c8cf",
        "order": 35,
        "width": 12,
        "height": 1
    },
    {
        "id": "ed11dac3712eba25",
        "type": "ui_group",
        "name": "Status",
        "tab": "533659619d4954b7",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "483df96dc212c8cf",
        "type": "ui_group",
        "name": "Netzwerkmonitor",
        "tab": "533659619d4954b7",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "506be1239e6dff66",
        "type": "ui_group",
        "name": "Ausfallszähler",
        "tab": "533659619d4954b7",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "533659619d4954b7",
        "type": "ui_tab",
        "name": "Netzwerkmonitor",
        "icon": "fa-exchange",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1889d4863f9bea64",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-ping": "0.3.3",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-moment": "5.0.0"
        }
    }
]
